{% extends 'base.html' %}

{% load static %}

{% block page_title %} Vamos {% endblock %}

{% block main %}

    <!-- Header -->
    <div class="text-center">
      <div class="mt-5 p-3 container rounded bg-dark">
        <h1 class="display-2 text-white bg-dark mb-3" style="font-weight: 700;">Consejos para tu visita a la feria del agricultor</h1>
    </div>

    <div class="container mt-5">
        <div class="row">
          <div class="col-sm p-4 me-3 ms-1 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Llega temprano</h2> 
            <p style="text-align: justify;" class="mt-4">La mayoría de las ferias del agricultor abren temprano. Si llegas temprano, tendrás una mejor selección de productos frescos y podrás evitar las multitudes más grandes.</p>
            <img src="/media/images/consejos1.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-3 ms-3 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Lleva efectivo</h2>
            <p style="text-align: justify;" class="mt-4"> Muchos vendedores no aceptan tarjetas de crédito o débito, así que es importante llevar efectivo contigo. También es una buena idea llevar monedas y billetes pequeños para que puedas hacer pagos exactos.</p>
            <img src="/media/images/consejos9.png" class="img-fluid rounded" alt="Responsive image" style="width: 180px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-1 ms-3 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Haz una lista</h2>
            <p style="text-align: justify;" class="mt-4">Antes de ir a la feria, haz una lista de los productos que necesitas. De esta manera, podrás evitar comprar cosas innecesarias y te asegurarás de obtener todo lo que necesitas.</p>
            <img src="/media/images/consejos4.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
          <div class="col-sm p-4 me-3 ms-1 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Lleva tus propias bolsas</h2> 
            <p style="text-align: justify;" class="mt-4">Es importante llevar tus propias bolsas reutilizables para transportar tus compras. De esta manera, puedes reducir tu impacto ambiental y ayudar a mantener la feria limpia.</p>
            <img src="/media/images/consejos7.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-3 ms-3 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Prueba cosas nuevas</h2>
            <p style="text-align: justify;" class="mt-4">La feria del agricultor es una oportunidad para probar productos frescos y locales que quizás no hayas probado antes. No tengas miedo de probar cosas nuevas y experimentar con nuevos sabores y recetas.</p>
            <img src="/media/images/consejos5.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 310px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-1 ms-3 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Habla con los vendedores</h2>
            <p style="text-align: justify;" class="mt-4"> Los vendedores de la feria del agricultor son expertos en sus productos y pueden ofrecerte consejos y recomendaciones útiles. Habla con ellos sobre cómo preparar los productos que compraste y cómo almacenarlos adecuadamente.</p>
            <img src="/media/images/consejos2.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 340px; height: 260px; object-fit: cover;">
          </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
          <div class="col-sm p-4 me-3 ms-1 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Haz una visita regular</h2> 
            <p style="text-align: justify;" class="mt-4"> Las ferias del agricultor a menudo tienen diferentes vendedores cada semana y ofrecen productos estacionales. Haz una visita regular para ver qué productos nuevos están disponibles y para apoyar a los vendedores locales.</p>
            <img src="/media/images/consejos3.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-3 ms-3 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Utiliza bloqueador solar</h2>
            <p style="text-align: justify;" class="mt-4">Si vas a la feria del agricultor en un día soleado, no te olvides de aplicarte protector solar y llevar un sombrero o gorra para proteger tu piel del sol. También es importante llevar agua para mantenerse hidratado.</p>
            <img src="/media/images/consejos8.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 290px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-1 ms-3 text-center">
            <h2 style="font-weight: 700; font-size: 30px;">Lleva sombrilla</h2>
            <p style="text-align: justify;" class="mt-4"> Si vas a la feria del agricultor en un día nublado y esta no se encuentra techada, no te olvides de llevar sombrilla. Esta te será de gran ayuda para no mojarte y mantener tus productos secos.</p>
            <img src="/media/images/consejos6.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
        </div>
    </div>

    <br>
    <p class="small">2023 &copy; Tropicalización de la tecnología</p>
    
    {% endblock %}
