# Django settings
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Database settings
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Host machine ports
WEB_PORT=8000
DATABASE_PORT=5432

# External services
GOOGLE_MAPS_API_KEY=