django
django_htmx
python-decouple
djangorestframework
djangorestframework-gis
drf-spectacular
psycopg2-binary
geopy
pandas
geopandas
pillow
openpyxl
osm_opening_hours_humanized
osm-humanized-opening-hours
django-tinymce
gunicorn
django-json-ld
jsonpickle