{% block content %}

{% csrf_token %}
<div class="mb-1">
    {{ ingredient_form.ingredient_name }}
</div>
<div class="mb-1">
    {{ ingredient_form.ingredient_description }}
</div>
<div class="mb-1">
    {{ ingredient_form.ingredient_product }}
</div>
<div class="mb-1">
    Contiene:
    {{ ingredient_form.allergies }}
</div>
<div class="mt-2">
    <button class="btn btn-sm btn-success w-100" hx-post="{% url 'create_ingredient' %}" hx-target="#new-ingredient-form" hx-swap="innerHTML">Guardar ingrediente</button>
</div>

{% endblock %}