<p>Según el libro "<a target="_blank" href="https://www.fao.org/3/w0073s/w0073s00.htm#Contents">Nutrición humana en el mundo en desarrollo</a>" (2002) de la Organización de las Naciones Unidas para la Agricultura y la Alimentación, escrito por Michael C. Latham, profesor de nutrición internacional de la Universidad de Cornell.</p>

<p>Nuestra clasificación:</p>

<dl>
    <dt>Verduras</dt>
    <dd></dd>
    <dt>Cereales</dt>
    <dd>Arroz, maíz, trigo, avena, etc.</dd>
    <dt>Legumbres</dt>
    <dd>Garbanzos, lentejas, frijoles, guisantes, soya, maní, etc.</dd>
    
</dl>

<h2>Preguntas frecuentes</h2>

¿Cuál es la diferencia entre raíz y tubérculo?

<p>Las raíces son órganos de almacenamiento de las plantas que crecen bajo tierra. Los tubérculos son tallos subterráneos engrosados que almacenan nutrientes. Las raíces y los tubérculos son ricos en carbohidratos y se pueden comer crudos o cocidos.</p>
