<dl class="lead">
    {% for origin in product.center_origin.all %}
    <dt>{{ origin }}</dt>
    <dl>{{ origin.description }}</dl>
    <img src="{{ origin.mapamundi.url }}" alt="Map" width="900px">
    {% endfor %}
</dl>
<p>
    Notas: {{ product.center_origin_notes }}
</p>
<p>(Aquí podría haber un mapa mundi mostrando la región)</p>
<h5>Sobre los centros de origen</h5>
<p>
    Los centros de origen son regiones del mundo donde se originaron las plantas cultivadas. En estos lugares, las plantas silvestres se adaptaron a las condiciones ambientales y a los sistemas de producción de las comunidades locales. Los centros de origen son importantes porque contienen la mayor diversidad genética de las plantas cultivadas. Esta diversidad genética es la base para el mejoramiento de las plantas y la producción de nuevas variedades.
</p>

