{% extends 'base.html' %}

{% load static %}

{% block page_title %} Todos los productos {% endblock %}

{% block bg-navbar %} background-rojo {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-rojo">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 text-white hero-deferia">{{texts.hero.content}}</h1>
        <h3 class="title-deferia text-white">¡Y la feria es el lugar para aprovecharlos! <br> ¿Qué tal si vamos a la feria por<br><span id="hero"></span></h3>
        <img src="{% static 'images/icons/ajo.svg' %}" width="75px" class="index-sticker-1">
        <img src="{% static 'images/icons/acelga.svg' %}" width="75px" class="index-sticker-2">
        <img src="{% static 'images/icons/naranja.svg' %}" width="75px" class="index-sticker-3">
    </div>
</div>

<!-- Lista de los productos -->
<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6 text-center">
            <h1 class="display-3 hero-deferia verde">Lista de productos</h1>
            <p class="lead">{{texts.lista.content}}</p>
            <p>{{texts.lista_descripcion.content}}</p>
        </div>
    </div>

    <!-- Indicaciones de la tabla -->
    <div class="d-flex justify-content-center mb-3">
        <div class="card col-lg-6 background-verde text-white rounded-5 border-0">
            <div class="card-body text-center small">
                <div class="row row-col-4">
                    <div class="col text-center">
                        <i class="fa-regular fa-circle"></i> Escaso
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-circle-half-stroke"></i>
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-circle"></i>
                    </div>
                    <div class="col text-center">
                        <i class="fa-solid fa-circle-check"></i> Abundante
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <div class="card col-lg-6 background-amarillo rounded-5 border-0">
            <div class="card-body small">
                <div class="row d-flex align-items-center">
                    <div class="col-1">
                        <i class="text-white fa-solid fa-star-of-life"></i>
                    </div>
                    <div class="col-11">
                        Recomendación de canasta básica alimentaria <a href="https://www.ucr.ac.cr/noticias/2021/4/28/la-canasta-basica-refleja-el-comportamiento-de-consumo-costarricense-no-sus-necesidades-nutricionales.html">mejorada</a> (Universidad de Costa Rica)
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Frutas -->
    <div class="table-responsive">
        <table class="custom-table">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="text-start pe-5"><span class="display-deferia fs-2 rojo">Frutas</span></th>
                    <th scope="col"><i class="fa-solid fa-basket-shopping"></i></th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">M</th>
                    <th scope="col">A</th>
                    <th scope="col">M</th>
                    <th scope="col">J</th>
                    <th scope="col">J</th>
                    <th scope="col">A</th>
                    <th scope="col">S</th>
                    <th scope="col">O</th>
                    <th scope="col">N</th>
                    <th scope="col">D</th>
                </tr>
            </thead>
            <tbody>
                {% for variety in varieties_frutas %}
                <tr>
                    <td><a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="font-weight: 800;" href="/productos/{{ variety.product_url.product_url }}">{{ variety.product_url.common_name|capfirst }} {% if variety.common_name_variety %}{{ variety.common_name_variety }}{% endif %}</a></td>
                    <!-- Canasta básica -->
                    <td>{% if variety.product_url.food_basket %}<i class="small amarillo fa-solid fa-star-of-life"></i>{% endif %}</td>
                    <!-- Estacionalidad por meses -->
                    <td {% if month == 1 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jan }}"></div>
                    </td>
                    <td {% if month == 2 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.feb }}"></div>
                    </td> 
                    <td {% if month == 3 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.mar }}"></div>
                    </td>
                    <td {% if month == 4 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.apr }}"></div>
                    </td>
                    <td {% if month == 5 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.may }}"></div>
                    </td>
                    <td {% if month == 6 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jun }}"></div>
                    </td>
                    <td {% if month == 7 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jul }}"></div>
                    </td>
                    <td {% if month == 8 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.aug }}"></div>
                    </td>
                    <td {% if month == 9 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.sep }}"></div>
                    </td>
                    <td {% if month == 10 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.oct }}"></div>
                    </td>
                    <td {% if month == 11 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.nov }}"></div>
                    </td>
                    <td {% if month == 12 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.dec }}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Verduras -->
    <div class="table-responsive mt-5">
        <table class="custom-table">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="text-start pe-5"><span class="display-deferia fs-2 verde">Verduras</span></th>
                    <th scope="col"><i class="fa-solid fa-basket-shopping"></i></th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">M</th>
                    <th scope="col">A</th>
                    <th scope="col">M</th>
                    <th scope="col">J</th>
                    <th scope="col">J</th>
                    <th scope="col">A</th>
                    <th scope="col">S</th>
                    <th scope="col">O</th>
                    <th scope="col">N</th>
                    <th scope="col">D</th>
                </tr>
            </thead>
            <tbody>
                {% for variety in varieties_verduras %}
                <tr>
                    <td><a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="font-weight: 800;" href="/productos/{{ variety.product_url.product_url }}">{{ variety.product_url.common_name|capfirst }} {% if variety.common_name_variety %}{{ variety.common_name_variety }}{% endif %}</a></td>
                    <!-- Canasta básica -->
                    <td>{% if variety.product_url.food_basket %}<i class="small amarillo fa-solid fa-star-of-life"></i>{% endif %}</td>
                    <!-- Estacionalidad por meses -->
                    <td {% if month == 1 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jan }}"></div>
                    </td>
                    <td {% if month == 2 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.feb }}"></div>
                    </td> 
                    <td {% if month == 3 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.mar }}"></div>
                    </td>
                    <td {% if month == 4 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.apr }}"></div>
                    </td>
                    <td {% if month == 5 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.may }}"></div>
                    </td>
                    <td {% if month == 6 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jun }}"></div>
                    </td>
                    <td {% if month == 7 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jul }}"></div>
                    </td>
                    <td {% if month == 8 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.aug }}"></div>
                    </td>
                    <td {% if month == 9 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.sep }}"></div>
                    </td>
                    <td {% if month == 10 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.oct }}"></div>
                    </td>
                    <td {% if month == 11 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.nov }}"></div>
                    </td>
                    <td {% if month == 12 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.dec }}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Tubérculos -->
    <div class="table-responsive mt-5">
        <table class="custom-table">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="text-start pe-5"><span class="display-deferia fs-2 amarillo">Tubérculos, raíces</span></th>
                    <th scope="col"><i class="fa-solid fa-basket-shopping"></i></th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">M</th>
                    <th scope="col">A</th>
                    <th scope="col">M</th>
                    <th scope="col">J</th>
                    <th scope="col">J</th>
                    <th scope="col">A</th>
                    <th scope="col">S</th>
                    <th scope="col">O</th>
                    <th scope="col">N</th>
                    <th scope="col">D</th>
                </tr>
            </thead>
            <tbody>
                {% for variety in varieties_tuberculos %}
                <tr>
                    <td><a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="font-weight: 800;" href="/productos/{{ variety.product_url.product_url }}">{{ variety.product_url.common_name|capfirst }} {% if variety.common_name_variety %}{{ variety.common_name_variety }}{% endif %}</a></td>
                    <!-- Canasta básica -->
                    <td>{% if variety.product_url.food_basket %}<i class="small amarillo fa-solid fa-star-of-life"></i>{% endif %}</td>
                    <!-- Estacionalidad por meses -->
                    <td {% if month == 1 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jan }}"></div>
                    </td>
                    <td {% if month == 2 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.feb }}"></div>
                    </td> 
                    <td {% if month == 3 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.mar }}"></div>
                    </td>
                    <td {% if month == 4 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.apr }}"></div>
                    </td>
                    <td {% if month == 5 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.may }}"></div>
                    </td>
                    <td {% if month == 6 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jun }}"></div>
                    </td>
                    <td {% if month == 7 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jul }}"></div>
                    </td>
                    <td {% if month == 8 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.aug }}"></div>
                    </td>
                    <td {% if month == 9 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.sep }}"></div>
                    </td>
                    <td {% if month == 10 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.oct }}"></div>
                    </td>
                    <td {% if month == 11 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.nov }}"></div>
                    </td>
                    <td {% if month == 12 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.dec }}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Legumbres -->
    <div class="table-responsive mt-5">
        <table class="custom-table">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="text-start pe-5"><span class="display-deferia fs-2 cafe">Legumbres</span></th>
                    <th scope="col"><i class="fa-solid fa-basket-shopping"></i></th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">M</th>
                    <th scope="col">A</th>
                    <th scope="col">M</th>
                    <th scope="col">J</th>
                    <th scope="col">J</th>
                    <th scope="col">A</th>
                    <th scope="col">S</th>
                    <th scope="col">O</th>
                    <th scope="col">N</th>
                    <th scope="col">D</th>
                </tr>
            </thead>
            <tbody>
                {% for variety in varieties_legumbres %}
                <tr>
                    <td><a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="font-weight: 800;" href="/productos/{{ variety.product_url.product_url }}">{{ variety.product_url.common_name|capfirst }} {% if variety.common_name_variety %}{{ variety.common_name_variety }}{% endif %}</a></td>
                    <!-- Canasta básica -->
                    <td>{% if variety.product_url.food_basket %}<i class="small amarillo fa-solid fa-star-of-life"></i>{% endif %}</td>
                    <!-- Estacionalidad por meses -->
                    <td {% if month == 1 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jan }}"></div>
                    </td>
                    <td {% if month == 2 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.feb }}"></div>
                    </td> 
                    <td {% if month == 3 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.mar }}"></div>
                    </td>
                    <td {% if month == 4 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.apr }}"></div>
                    </td>
                    <td {% if month == 5 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.may }}"></div>
                    </td>
                    <td {% if month == 6 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jun }}"></div>
                    </td>
                    <td {% if month == 7 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jul }}"></div>
                    </td>
                    <td {% if month == 8 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.aug }}"></div>
                    </td>
                    <td {% if month == 9 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.sep }}"></div>
                    </td>
                    <td {% if month == 10 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.oct }}"></div>
                    </td>
                    <td {% if month == 11 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.nov }}"></div>
                    </td>
                    <td {% if month == 12 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.dec }}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Hierbas -->
    <div class="table-responsive mt-5">
        <table class="custom-table">
            <thead class="text-center">
                <tr>
                    <th scope="col" class="text-start pe-5"><span class="display-deferia fs-2 azul">Hierbas</span></th>
                    <th scope="col"><i class="fa-solid fa-basket-shopping"></i></th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                    <th scope="col">M</th>
                    <th scope="col">A</th>
                    <th scope="col">M</th>
                    <th scope="col">J</th>
                    <th scope="col">J</th>
                    <th scope="col">A</th>
                    <th scope="col">S</th>
                    <th scope="col">O</th>
                    <th scope="col">N</th>
                    <th scope="col">D</th>
                </tr>
            </thead>
            <tbody>
                {% for variety in varieties_hierbas %}
                <tr>
                    <td><a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="font-weight: 800;" href="/productos/{{ variety.product_url.product_url }}">{{ variety.product_url.common_name|capfirst }} {% if variety.common_name_variety %}{{ variety.common_name_variety }}{% endif %}</a></td>
                    <!-- Canasta básica -->
                    <td>{% if variety.product_url.food_basket %}<i class="small amarillo fa-solid fa-star-of-life"></i>{% endif %}</td>
                    <!-- Estacionalidad por meses -->
                    <td {% if month == 1 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jan }}"></div>
                    </td>
                    <td {% if month == 2 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.feb }}"></div>
                    </td> 
                    <td {% if month == 3 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.mar }}"></div>
                    </td>
                    <td {% if month == 4 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.apr }}"></div>
                    </td>
                    <td {% if month == 5 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.may }}"></div>
                    </td>
                    <td {% if month == 6 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jun }}"></div>
                    </td>
                    <td {% if month == 7 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.jul }}"></div>
                    </td>
                    <td {% if month == 8 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.aug }}"></div>
                    </td>
                    <td {% if month == 9 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.sep }}"></div>
                    </td>
                    <td {% if month == 10 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.oct }}"></div>
                    </td>
                    <td {% if month == 11 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.nov }}"></div>
                    </td>
                    <td {% if month == 12 %}class="background-amarillo"{% endif %}>
                        <div class="season-{{ variety.dec }}"></div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<!-- TypeIt JS -->
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
<script>
    new TypeIt("#hero", {
        speed: 50,
        loop: true,
        startDelay: 900,
    })
        .type("plátano verde para un picadillo?", { delay: 1500 })
        .delete(32, { delay: 100 })
        .type("unos cases para un fresco?", { delay: 1500 })
        .delete(26, { delay: 100 })
        .type("romero para un té?", { delay: 1500 })
        .delete(18, { delay: 100 })
        .type("cebolla morada para un ceviche?", { delay: 1500 })
        .delete(31, { delay: 100 })
        .type("camote para un puré?", { delay: 1500 })
        .go();
</script>

{% endblock %}
