{% extends 'base.html' %}

{% load static %}

{% block page_title %} {{ product.common_name|capfirst }} {% endblock %}

{% block main %}

<p>
    <div class="card" style="width: 200px;">
        <img src="https://placehold.co/600x300/png" alt="Foto de portada" style="width: 200px;">
        <div class="card-body">
            <p class="card-text">Ícono</p>
        </div>
    </div>    
</p>

<!-- Información general -->
<h1 class="display-2"  style="font-weight: 900;">{{ product.common_name|capfirst }}</h1>

<p>Nombre alternativo: {{ product.common_name_alternate }}</p>

<!-- Categoría -->
<h3>Categoría</h3>
<p>
    <span class="badge text-bg-success">{{ product.get_category_display }}</span>
</p>

<!-- Descripción -->
<h3>Descripción</h3>
<p class="lead">{{ product.description }}</p>

<!-- Variedades -->
{% include 'variety.html' %}

<br>
<br>

<!-- Canasta básica recomendada -->
<h3>Canasta básica recomendada</h3>

<p>
    {% if marketplace.food_basket == True %}
        <span class="badge text-bg-success">Sí</span>
    {% else %}
        <span class="badge text-bg-danger">No</span>
    {% endif %}

</p>

<!-- Reseña nutricional -->
<h3>Reseña nutricional</h3>
<p>{{ product.nutrition_notes }}</p>

<!-- Métodos de preparación -->
<h3>Preparación</h3>
{% include 'preparation.html' %}

<!-- Métodos de almacenamiento -->
<h3>Almacenamiento</h3>
{% include 'storage.html' %}

<!-- Centros de origen -->
<h3>Centro de origen</h3>
{% include 'center_origin.html' %}

<!-- Estacionalidad -->

<h3>Estacionalidad</h3>
{% include 'seasonality.html' %}

<br>
<br>

{% endblock %}
