{% extends 'base.html' %}

{% load static %}

{% block page_title %} Página interactiva {% endblock %}

{% block bg-navbar %} background-rojo {% endblock %}

{% block main %}

<div class="px-4 pt-3 pb-5 text-center background-rojo">
    <div class="card col-lg-6 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 text-white title-deferia">Página interactiva</h1>
        <h3 class="title-deferia text-white mb-5">(prueba)</h3>
        <div class="d-flex justify-content-center">
            <a href="#search" class="link-dark text-decoration-none">
                <div class="vstack circle-cta background-amarillo shadow-lg">
                    <div class="verde">¡Vamos!</div>
                    <div><img src="{% static 'images/logos/logo_rojo.png' %}" width="60px" alt="Logo de feria"></div>
                </div>
            </a>
        </div>
        <img src="{% static 'images/icons/ajo.svg' %}" width="75px" class="index-sticker-1">
        <img src="{% static 'images/icons/acelga.svg' %}" width="75px" class="index-sticker-2">
        <img src="{% static 'images/icons/naranja.svg' %}" width="75px" class="index-sticker-3">
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6 text-center">
            <h1 class="display-5 display-deferia rojo">Crucigrama</h1>

        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="card object-fit-scale object-fit-contain align-content-center justify-content-center background-amarillo rounded-5 border-0 ">
        <div class="card-body m-md-3">
            <div class="my-custom-scrollbar my-custom-scrollbar-primary overflow-x-auto">
                <ipuzzler-puzzle src="{% static 'puzzles/15x15-acid-test.ipuz' %}"></ipuzzler-puzzle>
            </div>
        </div>
    </div>
</div>

{% endblock %}