body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #FAF6EA;
}

.nav-link-deferia {
    color: #FFFFFF;
    font-weight: 900;
}

.background-crema {
    background-color: #FAF6EA;
}

.background-rojo {
    background-color: #E64128;
}

.background-amarillo {
    background-color: #ffd73f;
}

.background-verde {
    background-color: #008D4A;
}

.background-azul {
    background-color: #3879B5;
}

.background-rosado {
    background-color: #F29196;
}

.background-cafe {
    background-color: #CD7535;
}

.background-naranja {
    background-color: #E7502C;
}

.rojo {
    color: #E64128;
}

.amarillo {
    color: #FFD73F;
}

.verde {
    color: #008D4A;
}

.azul {
    color: #3879B5;
}

.rosado {
    color: #F29196;
}

.cafe {
    color: #CD7535;
}

.naranja {
    color: #E7502C;
}

.background-transparente {
    background-color: rgba(0, 0, 0, 0.1);
}

.background-fruit {
    background-image: url('../images/T14.png');
    background-size: cover;
    background-size: 120%;
    background-position: center;
}

.title-deferia {
    font-family: 'Petrona', serif;
}

.display-deferia {
    font-family: 'Petrona', serif;
    font-weight: 900;
}

.underline-input {
    border: none;
    border-bottom: 1px solid #CCC;
    outline: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
}

.underline-input::placeholder {
    font-style: italic;
}

.navbar-nav .nav-link:hover {
    color: #EBB615;
}

.floating-watermelon {
    position: absolute;
    top: -15%;
    right: 10%;
    z-index: 9999;
}

.floating-strawberry {
    position: absolute;
    bottom: -15%;
    left: 5%;
    z-index: 9999;
}

.floating-onion {
    position: absolute;
    bottom: -5%;
    right: -5%;
    z-index: 9999;
}

h4, h5, h6 {
    font-weight: 900;
}

.circle-size {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-s {
    background-color: #E64128;
    color: #FFFFFF;
}

.size-m {
    background-color: #3879B5;
    color: #FFFFFF;
}

.size-l {
    background-color: #008D4A;
    color: #FFFFFF;
}

.size-xl {
    background-color: #FFD73F;
    color: #000000;
}

.crowdsourcing-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
  }

.circle-cta {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}