<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DeFerias Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <!-- Página principal -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <!-- Nav bar y menú -->
      <div class="container-fluid">
        <a class="navbar-brand">DeFeria</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href={% url 'index' %}>Inicio<span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ferias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={% url 'consejos' %}>Información</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Perfil</a>
              </li>
              {% endif %}
            </ul>
          </div>
          {% if request.user.is_authenticated %}
          <form class="form-inline">
            <a href={% url 'logout_usuario' %} type="button" class="btn btn-m btn-outline-danger">Cerrar Sesión </a>
          </form>
          {% else %}
          <a href={% url 'registro' %} type="button" class="btn btn-m btn-outline-primary m-2">Crear cuenta</a>
          <a href={% url 'login_usuario' %} type="button" class="btn btn-m btn-outline-success">Iniciar Sesión</a>
          {% endif %}
        </nav>
      </div>
    </nav>

    <!-- Header -->
    <div class="text-center">
      <div class="mt-5 p-2 container rounded bg-dark">
        <h1 class="display-2 text-white bg-dark mb-3" style="font-weight: 700;">¡Consejos para aprovechar la feria al máximo!</h1>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-sm p-1 me-1 ms-1">
            <h3 class="mt-5 p-1 ms-5" style="font-size: 30px;">
              No todas las personas tenemos 20 años de ir a la feria, ¿cierto?
              <small class="text-muted">Algunos consejos son útiles para convertirlo en parte de una rutina saludable</small>
            </h3>
          </div>
          <div class="col-sm p-3 me-3 ms-3 text-center">
            <img src="/media/images/IlustracionConsejos2.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
        </div>
      </div>

      <div class="mt-5 p-5">
        <h2 style="font-weight: 800; font-size: 50px;">Consejos para visitar la feria</h2> 
        <p style="font-weight: 600; font-size: 20px;">Hay todo tipo de ferias y hay que saber cómo visitarlas</p>
        <a class="btn btn-primary mt-3 p-3" href="{% url 'visitar' %}" role="button"><strong>Conoce los consejos</strong></a>
        <div>
          <img src="/media/images/IlustracionConsejos1.jpg" class="img-fluid rounded mt-5" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col-sm p-3 me-3 ms-3 text-center">
            <img src="/media/images/IlustracionConsejos3.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 260px; object-fit: cover;">
          </div>
          <div class="col-sm p-3 me-3 ms-3 text-center mt-4 p-4">
            <h3 style="font-weight: 700; font-size: 35px;">Preparación y almacenamiento de los productos</h3>
            <p class="lead" style="font-size: 22px; font-weight: 350; ">Compré en la feria porque sus productos son más frescos, variados y baratos... ¿y ahora qué hago con todo esto?</p>
          </div>
        </div>
      </div>

      <div class="mt-5 p-4 w-75 me-auto ms-auto">
        <h2 style="font-weight: 800; font-size: 50px;">Consejos para aprovechar los productos frescos que acabamos de comprar</h2> 
      </div>

      <div class="container mt-1 p-4">
        <div class="row">
          <div class="col-sm p-1 me-1 ms-1 text-center">
            <img src="/media/images/IlustracionConsejos5.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 400px; object-fit: cover;">
            <div class="mt-3">
              <a class="btn btn-primary mt-3 p-3" href="{% url 'almacenamiento' %}" role="button"><strong>Almacenamiento</strong></a>
            </div>
          </div>
          <div class="col-sm p-1 me-1 ms-1 text-center">
            <img src="/media/images/IlustracionConsejos4.jpg" class="img-fluid rounded" alt="Responsive image" style="width: 380px; height: 400px; object-fit: cover;">
            <div class="mt-3">
              <a class="btn btn-primary mt-3 p-3" href="{% url 'preparacion' %}" role="button"><strong>Preparación</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer class="text-center text-white static mt-5" style="background-color: #28242c;">
    <div class="container p-2"></div>
    <div class="text-center p-3" style="background-color: #28242c;">
      © 2023
      <a class="text-white" href="https://eie.ucr.ac.cr/proyectos/TC-691#:~:text=Descripci%C3%B3n%3A,su%20desarrollo%20integral%20y%20sostenible." target="_blank">TC-691 Tropicalización de la tecnología</a>
    </div>
  </footer>
</html>
