{% extends 'base.html' %}

{% load static %}

{% block main %}

<h1>Métodos de preparación</h1>

<p>En un lugar de La Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un caballeros de los adarga antigua, rocín flaco, lanza en astillero y galgo corredor.</p>

<p>Lista de métodos de preparación:</p>

<ul>
    {% for preparation in preparations %}
    <li><a href="./{{ preparation.preparation_url }}">{{ preparation.method_name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}