{% extends 'base.html' %}

{% load static %}

{% block page_title %} Vamos {% endblock %}

{% block main %}

    <!-- Header -->
    <div class="text-center">
        <div>
            <div class="mt-5 p-2 container rounded bg-dark">
            <h1 class="display-2 text-white bg-dark mb-3" style="font-weight: 700;">Métodos de almacenamiento para tus productos</h1>
        </div>
        <div class="mt-5 p-4 w-75 me-auto ms-auto">
          <p style="font-weight: 600; font-size: 25px; text-align: justify;">El almacenamiento adecuado de alimentos es esencial para mantener su frescura, calidad y seguridad. Hay varios métodos de 
            almacenamiento que se pueden utilizar para prolongar la vida útil de los alimentos y reducir el desperdicio. Algunos de estos métodos incluyen:
          </p>
        </div>
        <div class="mt-1 p-3">
          <h2 style="font-weight: 800; font-size: 50px;">Lista de métodos</h2> 
          {% for storage in storages %}
          <div class="col-sm rounded bg-warning text-white p-4 w-25 me-auto ms-auto mt-4">
            <h2>{{ storage.method_name }}</h2>
            <a href="./{{ storage.storage_url }}" type="button" class="btn btn-m btn-outline-success mt-3 p-3">Ver más</a>
          </div>
          {% endfor %}
        </div>
    </div>

    <br><br><br><br>
    <p class="small">2023 &copy; Tropicalización de la tecnología</p>
    
    {% endblock %}