{% extends 'base.html' %}
{% block page_title %} Crear noticia {% endblock %}

{% block bg-navbar %} background-azul {% endblock %}
{% load static %}

{% block main %}

<script>
    initializeTinyMCE('#newsContent');
</script>


<div class="d-flex justify-content-center">

    <div class="w-md-50 pt-4">

        <div class="container-form-avisos fw-bold align-self-center shadow">
            <h4 class="fw-bold mx-2 mt-3">Crear Noticia para 
                {% if marketplace_admin.marketplace.type == 'feria' %}
                Feria del agricultor
                {% elif marketplace_admin.marketplace.type == 'mercado' %}
                Mercado libre
                {% else %}
                Mercado agrícola local
                {% endif %}
                de {{marketplace_admin.marketplace}}</h4>
            <hr class="mb-4 mx-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group m-2">
                    <label for="name">Título de la noticia:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group m-2">
                    <label for="description">Descripción:</label>
                    <textarea class="form-control" id="description" name="description" rows="1" required></textarea>
                </div>
                <div class="form-group m-2">
                    <label for="content">Contenido:</label>
                    <textarea class="form-control" id="newsContent" name="content" rows="5"></textarea>
                </div>
                <div class="form-group m-2">
                    <label for="image">Imagen:</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary m-2 fw-bold background-verde">Crear Noticia</button>
                </div>
            </form>
        </div>
        
    </div>

</div>

{% endblock %}
