{% extends 'base.html' %}
{% block page_title %} Avisos {% endblock %}

{% block bg-navbar %} background-azul {% endblock %}
{% load static %}

{% block main %}

    <div class="d-flex flex-column justify-content-center">
        <div class="px-4 pt-3 pb-5 text-center background-azul mb-4">
            <div class="card col-lg-8 mx-auto bg-transparent border-0">
                <h1 class="display-3 my-5 text-white hero-deferia">Aquí están todas las noticias, eventos y anuncios de las ferias</h1>
                <img src="{% static 'images/stickers/ajo.svg' %}" width="75px" class="index-sticker-1">
                <img src="{% static 'images/stickers/acelga.svg' %}" width="75px" class="index-sticker-2">
                <img src="{% static 'images/stickers/naranja.svg' %}" width="75px" class="index-sticker-3">
            </div>
    </div>

        {%if is_marketplace_admin %}
            {%include "addFeed.html"%}
        {% endif %}

        {% if feed_list %}
            <div class="container d-flex my-4 w-75">
                <div class="row">
                    {% for element in feed_list %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            {% if element.type_ == "News" %}
                            <div class="card border-0 shadow">
                                {% if element.image %}
                                    <img src="{{ element.image.url }}" class="card-img-top img-fluid" alt="...">
                                {% else %}
                                    <img src="../../media/default_feed_images/default_news.jpg" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body feed-card">
                                    <span class="badge background-azul">Noticia <i class="fa-solid fa-bullhorn"></i></span>
                                    <h5 class="card-title mt-2">{{ element.name }}</h5>
                                  <p class="card-text">{{ element.description }}</p>
                                  <a href="{% url 'news' element.id %}" class="text-decoration-none"> 
                                      <span class="mt-2 fw-bold me-1">Ver más</span>
                                      <i class="fa-solid fa-arrow-right"></i>
                                  </a>
                                </div>
                            </div>
        
                            {% elif element.type_ == "Alert" %}
                            <div class="card border-0 shadow">
                                {% if element.image %}
                                    <img src="{{ element.image.url }}" class="card-img-top img-fluid" alt="...">
                                {% else %}
                                    <img src="../../media/default_feed_images/default_alert.jpg" class="card-img-top img-fluid" alt="...">
                                {% endif %}
                                <div class="card-body feed-card">
                                    <span class="badge background-rojo">Alerta <i class="fa-solid fa-triangle-exclamation"></i></span>
                                    <h5 class="card-title mt-2">{{ element.name }}</h5>
                                  <p class="card-text">{{ element.description }}</p>
                                  <a href="{% url 'alert' element.id %}" class="text-decoration-none"> 
                                      <span class="mt-2 fw-bold me-1">Ver más</span>
                                      <i class="fa-solid fa-arrow-right"></i>
                                  </a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card border-0 shadow">
                                {% if element.image %}
                                    <img src="{{ element.image.url }}" class="card-img-top img-fluid" alt="...">
                                {% else %}
                                    <img src="../../media/default_feed_images/default_event.jpg" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body feed-card">
                                    <span class="badge background-verde">Evento <i class="fa-solid fa-calendar-days"></i></span>
                                    <h5 class="card-title mt-2">{{ element.name }}</h5>
                                  <p class="card-text">{{ element.description }}</p>
                                  <a href="{% url 'event' element.id %}" class="text-decoration-none"> 
                                      <span class="mt-2 fw-bold me-1">Ver más</span>
                                      <i class="fa-solid fa-arrow-right"></i>
                                  </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>    
        {% else %}
            <div class="container my-4">
                <div class="alert alert-primary" role="alert">
                    No hay elementos para mostrar.
                </div>    
            </div>
        {% endif %}


    </div>

{% endblock %}
