{% block content %}

{{ recipe_form.id }}

<div class="row p-2">
    <div class="col">
        <div class="mb-1">
            <label>Nombre de la receta</label>
            {{ recipe_form.name }}
            {% if recipe_form.name.errors %}
                <div class="alert alert-danger m-2">
                    {% for error in recipe_form.name.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="mb-1">
            <label>Descripción</label>
            {{ recipe_form.description }}
            {% if recipe_form.description.errors %}
                <div class="alert alert-danger m-2">
                    {% for error in recipe_form.description.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-4">
        {% include 'partials/category_list.html' with category=recipe_form.category %}
        {% include 'partials/tag_list.html' with tags=recipe_form.tags %}
    </div>
</div>


<style>
    .tag-pill.selected {
        background-color: yellowgreen;
        color: white;
    }
</style>

{% endblock %}