{% block content %}

{% for form in step_formset %}
<div class="step my-3 p-3 background-amarillo rounded">
    <div class="step-row">
        <div class="row mb-3">
            <div class="col">
                <div id="step_sequence-input">{{ form.step_sequence }}</div>
                {% if form.step_sequence.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.step_sequence.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-8">
                <div id="title-input">{{ form.title }}</div>
                {% if form.title.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="photo-input">{{ form.photo }}</div>
                {% if form.photo.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.photo.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-8">
                <div id="description-input">{{ form.description }}</div>
                {% if form.description.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.description.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
