<div class="step my-3 p-3 background-amarillo rounded">
    <div class="step-row mb-3">
        {{ management_form }}
        {{ form.recipe_id }}
        {{ form.id }}

        <div class="row mb-3">
            <div class="col-4">
                <div id="step_sequence-input">{{ form.step_sequence }}</div>
                {% if form.step_sequence.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.step_sequence.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-6">
                <div id="title-input">{{ form.title }}</div>
                {% if form.title.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-secondary" hx-get="{% if recipe.slug %}{% url 'edit_recipe_step_form' next_step recipe.slug %}{% else %}{% url 'create_recipe_step_form' next_step %}{% endif %}" hx-target="#steps-list" hx-swap="beforeend"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div id="photo-input">{{ form.photo }}</div>
                {% if form.photo.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.photo.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-8">
                <div id="description-input">{{ form.description }}</div>
                {% if form.description.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.description.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>