{% block content %}

{% if form %}
    <div class="step bg-white rounded p-2" id="step-form-{{ current_step}}">
        <div class="step-row">
            {% csrf_token %}

            {{ management_form }}
            {{ form.recipe_id }}
            {{ form.id }}

            

            <div class="d-flex justify-content-between" style="width: 100%;">
                <div style="width: 5%;">
                    <div class="d-flex justify-content-start align-content-center h-100">
                        <button type="button" class="btn-delete-step text-danger bg-transparent border-0" onclick="this.style.display='none'" hx-get="{% if recipe.slug %}{% url 'delete_existing_recipe_step_form' next_step recipe.slug %}{% else %}{% url 'delete_recipe_step_form' next_step %}{% endif %}" hx-target="#step-form-{{ current_step }}" hx-swap="outerHTML"><i class="fa fa-trash"></i></button>
                    </div>
                </div>

                <div style="width: 100%;">
                    <div class="d-flex justify-content-between mb-1" style="width: 100%;"">
                        <div class="step_sequence-input me-2" style="width: 30%;">{{ form.step_sequence }}
                            {% if form.step_sequence.errors %}
                                <div class="alert alert-danger m-2">
                                    {% for error in form.step_sequence.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
        
                        <div class="title-input w-100" style="width: 60%;">{{ form.title }}
                            {% if form.title.errors %}
                                <div class="alert alert-danger m-2">
                                    {% for error in form.title.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                
                    <div class="d-flex justify-content-between" style="width: 100%;">
                        <div class="photo-input w-100 me-2" style="width: 30%;">{{ form.photo }}
                            {% if form.photo.errors %}
                                <div class="alert alert-danger m-2">
                                    {% for error in form.photo.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="description-input w-100" style="width: 60%;">{{ form.description }}
                            {% if form.description.errors %}
                                <div class="alert alert-danger m-2">
                                    {% for error in form.description.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn-add-step btn btn-sm btn-success" onclick="this.style.display='none'" hx-get="{% if recipe.slug %}{% url 'edit_recipe_step_form' next_step recipe.slug %}{% else %}{% url 'create_recipe_step_form' next_step %}{% endif %}" hx-target="#steps-list" hx-swap="beforeend"><i class="fa-solid fa-plus"></i></button>
    </div>
{% endif %}

{% endblock %}