{% block content %}

<div class="step my-2">
    <div class="step-row">
        {{ management_form }}
        {{ form.recipe_id }}
        {{ form.id }}

        <div class="row mb-1">
            <div class="col-3">
                <div id="step_sequence-input">{{ form.step_sequence }}</div>
                {% if form.step_sequence.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.step_sequence.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <div id="title-input">{{ form.title }}</div>
                {% if form.title.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.title.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-1">
                
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div id="photo-input">{{ form.photo }}</div>
                {% if form.photo.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.photo.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <div id="description-input">{{ form.description }}</div>
                {% if form.description.errors %}
                    <div class="alert alert-danger m-2">
                        {% for error in form.description.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-1">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn-add-step btn btn-secondary" onclick="this.style.display='none'" hx-get="{% if recipe.slug %}{% url 'edit_recipe_step_form' next_step recipe.slug %}{% else %}{% url 'create_recipe_step_form' next_step %}{% endif %}" hx-target="#steps-list" hx-swap="beforeend"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}