{% extends 'base.html' %}

{% load static %}

{% block title %}Sugerencias para feria de {{ marketplace.name }}{% endblock %}

{% block main %}

<h1>Sugerencias para feria de {{ marketplace.name }}</h1>

<p>Gracias por colaborar para mantener actualizada la información de nuestro proyecto.</p>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="name" class="form-label">Nombre de la feria</label>
        <input name="name" type="text" class="form-control" id="name" aria-describedby="name-actual">
        <div id="name-actual" class="form-text">Nombre actual: {{ marketplace.name }}</div>
    </div>
    <div class="mb-3">
        <label for="name_alternate" class="form-label">Nombres alternativos de la feria</label>
        <input name="name_alternate" type="text" class="form-control" id="name_alternate" aria-describedby="name_alternate-actual">
        <div id="name_alternate-actual" class="form-text">Nombres alternativos actuales: {{ marketplace.name_alternate }}</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descripción de la feria</label>
        <textarea name="description" class="form-control" name="content" id="description" rows="10"></textarea>
        <div id="description-actual" class="form-text">Descripción actual: {{ marketplace.description }}</div>
    </div>
     <div class="mb-3">
        <label for="day_opens" class="form-label">Día de apertura</label>
        <select class="form-select" id = "day_opens" name = "day_opens" aria-label="Seleccione una opción">
            <option selected>Seleccione una opción</option>
            {% for day in day_choices %}
            <option value="{{ day.0 }}">{{ day.1 }}</option>
            {% endfor %}
        </select>
     </div>
    <div class="mb-3">
        <label for="hour_opens" class="form-label">Hora de apertura</label>
        <select class="form-select" id = "hour_opens" name = "hour_opens" aria-label="Seleccione una opción">
            <option selected>Seleccione una opción</option>
            {% for hour in hour_choices %}
            <option value="{{ hour.0 }}">{{ hour.1 }}</option>
            {% endfor %}
        </select>
     </div>
     <div class="mb-3">
        <label for="day_closes" class="form-label">Día de cierre</label>
        <select class="form-select" id = "day_closes" name = "day_closes" aria-label="Seleccione una opción">
            <option selected>Seleccione una opción</option>
            {% for day in day_choices %}
            <option value="{{ day.0 }}">{{ day.1 }}</option>
            {% endfor %}
        </select>
     </div>
       <div class="mb-3">
        <label for="hour_closes" class="form-label">Hora de cierre</label>
        <select class="form-select" id = "hour_closes" name = "hour_closes" aria-label="Seleccione una opción">
            <option selected>Seleccione una opción</option>
            {% for hour in hour_choices %}
            <option value="{{ hour.0 }}">{{ hour.1 }}</option>
            {% endfor %}
        </select>
     </div>
    <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <textarea name="address" class="form-control" name="content" id="address" rows="10"></textarea>
        <div id="address-actual" class="form-text">Dirección  actual: {{ marketplace.address }}</div>
    </div>
    <div class="mb-3">
	<label for="size" class="form-label">Tamaño de la feria</label>
        <select class="form-select" id = "size" name = "size" aria-label="Seleccione una opción">
            <option selected>Seleccione una opción</option>
            {% for size in size_choices %}
            <option value="{{ size.0 }}">{{ size.1 }}</option>
            {% endfor %}
        </select>
    </div>
     <div class="mb-3">
        <label for="phone" class="form-label">Teléfono la feria</label>
        <input name="phone" type="text" class="form-control" id="phone" aria-describedby="phone-actual">
        <div id="phone-actual" class="form-text">Teléfono actual: {{ marketplace.phone }}</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email de la feria</label>
        <input name="email" type="text" class="form-control" id="email" aria-describedby="email-actual">
        <div id="email-actual" class="form-text">Email actual: {{ marketplace.email }}</div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar sugerencias</button>
</form>

{% endblock %}
