{% extends 'base.html' %}

{% load static %}

{% block page_title %} Lista de ferias {% endblock %}

{% block bg-navbar %} background-azul {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-azul">
    <h1 class="display-4 text-white title-deferia">¡Vamos de feria!</h1>
    <img class="d-block mx-auto mb-3" src="{% static 'images/stickers/banano.png' %}" alt="" width="100">
    <div class="col-lg-5 mx-auto text-white">
        <p class="lead mb-4" style="font-weight: 100;">Quickly design and customize responsive mobile-first sites with Bootstrap, the world's most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <h1 class="display-1 title-deferia">{{ total_marketplaces }}</h1>
        <p>Total de ferias registradas en deferia.cr</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" class="btn btn-warning btn-lg px-4 gap-3" style="font-weight: 900px" href="#search">Buscar mi feria</a>
        </div>
    </div>
</div>

<!-- Ubicación de las ferias -->

<div class="container px-4 pt-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5 title-deferia rojo">¿Dónde están las ferias?</h1>
            <p class="lead">Las ferias están en las siete provincias, sin embargo, hay una mayoría ubicadas en la Gran Área Metropolitana.</p>
        </div>
    </div>
</div>
<div class="container px-4 bt-3 pb-5" id="numbers">
    <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
        <div class="col">
            <h3><i class="fa-solid fa-chart-simple verde"></i></i><br> Ferias por provincia</h3>
            <canvas id="n-provinces"></canvas>
        </div>
        <div class="col">
            <h3><i class="fa-solid fa-map-location-dot rojo"></i><br> Mapa de las ferias</h3>
            <div id="map" style="max-width: 576px; height: 250px;"></div>
        </div>
    </div>
</div>

<!-- Las ferias en números -->

<div class="container px-4 pt-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5 title-deferia verde">Las ferias en números</h1>
            <p class="lead">Aquí le ayudamos a buscar su feria entre las más de 80 que hay en el país.</p>
        </div>
    </div>
</div>
<div class="container px-4 bt-3 pb-5" id="numbers">
    <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
        <div class="col">
            <h3><i class="fa-regular fa-calendar-days amarillo"></i><br> Ferias por día de la semana</h3>
            <canvas id="n-days"></canvas>
        </div>
        <div class="col">
            <h3><i class="fa-solid fa-glass-water rojo"></i><br> Amenidades ofrecidas</h3>
            <canvas id="n-amenities"></canvas>
        </div>
        <div class="col">
            <h3><i class="fa-solid fa-store verde"></i><br> Infraestructura</h3>
            <canvas id="n-infrastructure"></canvas>
        </div>
    </div>
</div>

<!-- Buscar mi feria -->

{% include 'search.html' %}

<h2>Lista de ferias</h2>

<ul>
    {% for marketplace in marketplaces %}
    <li><a href="/ferias/{{ marketplace.marketplace_url }}">{{ marketplace.name }}</a></li>
    {% endfor %}
</ul>

<!-- JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'js/map_marketplaces.js' %}" data-marketplaces-map="{{ marketplaces_map }}"></script>

<script src="{% static 'js/marketplaces.js' %}" data-n-days="{{ n_days }}" data-n-provinces="{{ n_provinces }}" data-n-infrastructure="{{ n_infrastructure }}" data-n-amenities="{{ n_amenities }}"></script>

<script src="{% static 'js/search.js' %}"></script>

<!-- Google Maps API and Keys -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2WP2FoMe4DRz20FsGGi51opPlfjcm4KM&libraries=places"></script>

{% endblock %}