{% extends 'base.html' %}

{% load static %}

{% block page_title %} Todas las ferias {% endblock %}

{% block bg-navbar %} background-azul {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-azul">
    <div class="col-lg-6 mx-auto">
        <h1 class="display-3 my-5 text-white title-deferia">{{ texts.hero.content }}</h1>
        <div class="d-flex justify-content-center">
            <a href="#search" class="link-dark text-decoration-none">
                <div class="vstack circle-cta background-amarillo shadow-lg">
                    <div class="verde">¡Vamos!</div>
                    <div><img src="{% static 'images/logos/logo_rojo.png' %}" width="60px" alt="Logo de feria"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Ubicación de las ferias -->
<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6 text-center">
            <h1 class="display-5 display-deferia rojo">Ubicación de las ferias</h1>
            <p class="lead">{{texts.ubicacion.content}}</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4 py-4">
        <div class="col">
            <h3><i class="fa-solid fa-chart-simple verde"></i></i><br> Ferias por provincia</h3>
            <canvas id="n-provinces"></canvas>
        </div>
        <div class="col-lg-6">
            <h3><i class="fa-solid fa-map-location-dot rojo"></i><br> Mapa de las ferias</h3>
            <div class="rounded-4" id="map" style="max-width: 768px; height: 325px;"></div>
        </div>
    </div>
</div>

<!-- Las ferias en números -->
<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5 display-deferia verde">Las ferias en números</h1>
            <p class="lead">{{texts.numeros.content}}</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
        <div class="col">
            <h3><i class="fa-regular fa-calendar-days amarillo"></i><br> Ferias por día de la semana</h3>
            <canvas id="n-days"></canvas>
        </div>
        <div class="col">
            <h3><i class="fa-solid fa-glass-water rojo"></i><br> Amenidades ofrecidas</h3>
            <canvas id="n-amenities"></canvas>
        </div>
        <div class="col">
            <h3><i class="fa-solid fa-store verde"></i><br> Infraestructura</h3>
            <canvas id="n-infrastructure"></canvas>
        </div>
    </div>
</div>

<!-- Buscar mi feria -->
{% include 'search.html' %}

<!-- Lista de las ferias -->
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6 text-center">
            <h1 class="display-5 display-deferia rojo">Lista de ferias</h1>
            <p class="lead">Todas las ferias registradas en el proyecto <span class="fw-bolder">deferia.cr</span> en orden alfabético.</p>
        </div>
    </div>
    <table class="custom-table">
        <thead>
            <tr>
                <th scope="col">Nombre de la feria</th>
                <th scope="col">Provincia</th>
            </tr>
        </thead>
        <tbody>
            {% for marketplace in marketplaces %}
            <tr>
                <td><a class="link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fw-bold" href="/ferias/{{ marketplace.marketplace_url }}">{{ marketplace.name }}</a></td>
                <td>{{ marketplace.province }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'js/map_marketplaces.js' %}" data-marketplaces-map="{{ marketplaces_map }}"></script>

<script src="{% static 'js/marketplaces.js' %}" data-n-days="{{ n_days }}" data-n-provinces="{{ n_provinces }}"
    data-n-infrastructure="{{ n_infrastructure }}" data-n-amenities="{{ n_amenities }}"></script>

<script src="{% static 'js/search.js' %}"></script>

<!-- Google Maps API and Keys -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2WP2FoMe4DRz20FsGGi51opPlfjcm4KM&libraries=places"></script>

{% endblock %}