{% extends 'base.html' %}

{% load static %}

{% block page_title %} {{ marketplace.name }} {% endblock %}

{% block bg-navbar %} background-azul {% endblock %}

{% block main %}

{% load l10n %}

<!-- Portada -->
<div class="px-4 pt-3 pb-4 text-center background-azul">
    <h1 class="text-white fw-bold">Feria del agricultor de</h1>
    <h1 class="display-1 text-white display-deferia">{{ marketplace.name }}</h1>

    {% if marketplace.opening_date %}
    <!-- Año de inauguración -->
    <p><span class="badge text-bg-success">Desde {{ marketplace.opening_date|date:"Y" }}</span></p>
    {% endif %}
    {% if marketplace.description %}
    <!-- Descripción -->
    <div class="row row-cols-1 row-cols-md-2 text-white g-4 mt-3 d-flex justify-content-center">
        <div class="col col-md-6 lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum augue augue, quis placerat nisl vehicula sed. Maecenas sit amet luctus velit. Integer tincidunt, nisi et eleifend porta, quam orci pretium orci, a efficitur enim turpis at nunc. Fusce urna ex, scelerisque at diam et, aliquet finibus sem. Curabitur mollis egestas eleifend. Suspendisse ullamcorper ipsum ante, vel tristique turpis placerat in.
        </div>
    </div>
    {% endif %}
    {% if marketplace.name_alternate %}
    <!-- Nombres alternativos -->
    <p class="text-center text-white mt-4">
        <span class="small">También conocida como:</span> <br>
        <span class="lead">{{ marketplace.name_alternate }}</span>
    </p>
    {% endif %}
    <!-- Botones de redes sociales -->
    <div class="container my-1 d-flex justify-content-end small">
        {% if marketplace.facebook %}
        <a href="{{ marketplace.facebook }}" target="_blank" class="text-decoration-none text-white">
            <i class="fa-brands fa-square-facebook"></i>
            <span class="text-uppercase small">Facebook</span>
        </a>
        {% endif %}
        {% if marketplace.instagram %}
        &nbsp;&nbsp;&nbsp;
        <a href="{{ marketplace.instagram }}" target="_blank" class="text-decoration-none text-white">
            <i class="fa-brands fa-square-instagram"></i>
            <span class="text-uppercase small">Instagram</span>
        </a>
        {% endif %}
        {% if marketplace.website %}
        &nbsp;&nbsp;&nbsp;
        <a href="{{ marketplace.website }}" target="_blank" class="text-decoration-none text-white">
            <i class="fa-solid fa-globe"></i>
            <span class="text-uppercase small">Sitio web</span>
        </a>
        {% endif %}
    </div>
</div>

<!-- Eventos -->
{% if events %}
<div class="container my-4">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Próximos eventos</h4>
        <p>Estos son los eventos que se llevarán a cabo en la feria.</p>
        <hr>
        <dl>
            {% for event in events %}
            <dt>{{ event.name }}</dt>
            <dd>{{ event.description }}</dd>
            {% endfor %}
        </dl>
    </div>    
</div>
{% endif %}

<!-- Horario, mapa y dirección -->
<div class="container my-5">
    <div class="row g-4 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h2 class="title-deferia">Horario</h2>
            {% if marketplace.opening_hours %}
            <p class="lead">
                {% for day in description %}
                {{ day }} <br>
                {% endfor %}
            </p>
            {% if is_open %}
            <h5 class="verde"><i class="fa-solid fa-circle-check"></i> Abierta ahora</h5>
            <span class="small text-uppercase">Cierra en {{ closes_in }}</span>
            {% else %}
            <h5 class="rojo"><i class="fa-solid fa-lock"></i> Cerrada ahora</h5>
            <span class="small text-uppercase">Abre en {{ opens_in }}</span>
            {% endif %}
            {% else %}
            <p>
                No tenemos este dato. <br> Si lo conoce, <a href="{% url 'sugerencias' %}">colabore con nosotros</a> <i class="fa-solid fa-triangle-exclamation"></i>
            </p>
            {% endif %}
        </div>
        <div class="feature col">
            <h2 class="title-deferia">Dirección</h2>
            <p class="lead">
                {{ marketplace.address|capfirst }}
            </p>
            <p class="small">
                {{ marketplace.province }} |
                {{ marketplace.canton }} |
                {{ marketplace.district }} |
                {{ marketplace.postal_code }}
            </p>
            <p class="fw-bold">¡Vamos!
                <a target="_blank" href="https://ul.waze.com/ul?ll={{ marketplace.location.y|unlocalize }}%2C{{ marketplace.location.x|unlocalize }}&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"><span class="badge text-bg-primary"><i class="fa-solid fa-car-side"></i> Waze</span></a>
                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{ marketplace.location.y|unlocalize }},{{ marketplace.location.x|unlocalize }}"><span class="badge text-bg-primary"><i class="fa-brands fa-google"></i> Maps</span></a>
            </p>
        </div>
        <div class="feature col">
            <h2 class="title-deferia">Mapa</h2>
            <div class="rounded-4" id="map" style="max-width: 800px; height: 200px;"></div>
        </div>
    </div>
</div>

<!-- Amenidades -->
{% if marketplace.food or marketplace.drinks or marketplace.handicrafts or marketplace.garden_centre or marketplace.florist or marketplace.dairy or marketplace.seafood or marketplace.butcher %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h1 class="display-deferia">{{texts.servicios_titulo.content}}</h1>
            <p class="text-body-secondary">{{texts.servicios_descripcion.content}}</p>
            <h4>En esta feria puede encontrar <i class="fa-solid fa-circle-right"></i></h4>
            <div class="background-fruit rounded-5 border-0 mt-3" style="width: 100%; height: 200px;"></div>
        </div>

        <div class="col">
            <div class="row row-cols-2 row-cols-sm-3 g-4">
                {% if marketplace.food %}
                <div class="col d-flex flex-column gap-2">
                    <div class="rojo">
                        <i class="fa-solid fa-2x fa-utensils"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Comidas</h4>
                    <span class="text-body-secondary">¡Qué rico comerse un gallito en la feria!</span>
                </div>
                {% endif %}

                {% if marketplace.drinks %}
                <div class="col d-flex flex-column gap-2">
                    <div class="amarillo">
                        <i class="fa-solid fa-2x fa-glass-water"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Bebidas</h4>
                    <span class="text-body-secondary">¡No sea mozote! Tómese un jugo bien frío.</span>
                </div>
                {% endif %}

                {% if True %}
                <div class="col d-flex flex-column gap-2">
                    <div class="verde">
                        <i class="fa-solid fa-2x fa-jar"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Condimentos</h4>
                    <p class="text-body-secondary">Póngale sazón a ese picadillo que va a hacer.</p>
                </div>
                {% endif %}

                {% if marketplace.handicrafts %}
                <div class="col d-flex flex-column gap-2">
                    <div class="cafe">
                        <i class="fa-solid fa-2x fa-gift"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Artesanías</h4>
                    <p class="text-body-secondary">Apareció el regalo que andaba buscando.</p>
                </div>
                {% endif %}

                {% if marketplace.garden_centre %}
                <div class="col d-flex flex-column gap-2">
                    <div class="azul">
                        <i class="fa-solid fa-2x fa-seedling"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Plantas</h4>
                    <p class="text-body-secondary">Para darle más vida a la casa, una matica (otra).</p>
                </div>
                {% endif %}

                {% if marketplace.florist %}
                <div class="col d-flex flex-column gap-2">
                    <div class="rosado">
                        <i class="fa-solid fa-2x fa-spa"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Flores</h4>
                    <p class="text-body-secondary">Al partir de la feria, un fresco y una flor.</p>
                </div>
                {% endif %}

                {% if marketplace.dairy %}
                <div class="col d-flex flex-column gap-2">
                    <div class="rojo">
                        <i class="fa-solid fa-2x fa-cow"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Lácteos</h4>
                    <p class="text-body-secondary">¿Qué es eso? ¡Queso! Con una natilla que sí sabe.</p>
                </div>
                {% endif %}

                {% if marketplace.seafood %}
                <div class="col d-flex flex-column gap-2">
                    <div class="verde">
                        <i class="fa-solid fa-2x fa-fish"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Pescadería</h4>
                    <p class="text-body-secondary">Ese ceviche no se va a hacer solo.</p>
                </div>
                {% endif %}

                {% if marketplace.butcher %}
                <div class="col d-flex flex-column gap-2">
                    <div class="rojo">
                        <i class="fa-solid fa-2x fa-drumstick-bite"></i>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Carnicería</h4>
                    <p class="text-body-secondary">Ya tiene las papas, falta el pollito. Aquí está.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container my-4"><i class="fa-solid fa-circle-info"></i> ¿Cuáles otros productos y servicios ofrece esta feria? <a href="sugerencias/ferias/{{ marketplace.marketplace_url }}">Ayúdenos</a> con esta información.</div>
{% endif %}

<!-- Infraestructura -->
<div class="container">
    <h2 class="title-deferia">Infraestructura de la feria</h2>
    <div class="row row-cols-2 row-cols-sm-4 text-center g-4 py-3 d-flex justify-content-center">
        <div class="col-sm-2{% if marketplace.fairground is None %} text-muted{% endif %}">
            <i class="fa-solid fa-2x fa-location-dot"></i> <br>
            {% if marketplace.fairground %}
            <span class="fw-bold">Con campo ferial</span> <br>
            <i class="fa-solid fa-circle-check text-success"></i> <br>
            {% elif marketplace.fairground == False %}
            Sin campo ferial <br>
            <i class="fa-solid fa-circle-exclamation text-body-secondary"></i> <br>
            {% else %}
            Campo ferial <br>
            <a role="button" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-circle-question"></i>
            </a>
            {% endif %}
        </div>
        <div class="col-sm-2{% if marketplace.indoor is None %} text-muted{% endif %}">
            <i class="fa-solid fa-2x fa-people-roof"></i> <br>
            {% if marketplace.indoor %}
            <span class="fw-bold">Bajo techo</span> <br>
            <i class="fa-solid fa-circle-check text-success"></i> <br>
            {% elif marketplace.indoor == False %}
            Al aire libre <br>
            <i class="fa-solid fa-circle-exclamation text-body-secondary"></i> <br>
            {% else %}
            Bajo techo <br>
            <a role="button" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-circle-question"></i>
            </a>
            {% endif %}
        </div>
        <div class="col-sm-2{% if marketplace.handwashing is None %} text-muted{% endif %}">
            <i class="fa-solid fa-2x fa-hands-bubbles"></i> <br>
            {% if marketplace.handwashing %}
            <span class="fw-bold">Con lavabos</span> <br>
            <i class="fa-solid fa-circle-check text-success"></i> <br>
            {% elif marketplace.handwashing == False %}
            Sin lavabos <br>
            <i class="fa-solid fa-circle-exclamation text-body-secondary"></i> <br>
            {% else %}
            Lavabos <br>
            <a role="button" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-circle-question"></i>
            </a>
            {% endif %}
        </div>
        <div class="col-sm-2{% if marketplace.toilets is None %} text-muted{% endif %}">
            <i class="fa-solid fa-2x fa-toilet"></i> <br>
            {% if marketplace.toilets %}
            <span class="fw-bold">Con sanitarios</span> <br>
            <i class="fa-solid fa-circle-check text-success"></i> <br>
            {% elif marketplace.toilets == False %}
            Sin sanitarios <br>
            <i class="fa-solid fa-circle-exclamation text-body-secondary"></i> <br>
            {% else %}
            Sanitarios <br>
            <a role="button" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-circle-question"></i>
            </a>
            {% endif %}
        </div>
        <div class="col-sm-2{% if marketplace.parking is None %} text-muted{% endif %}">
            <i class="fa-solid fa-2x fa-square-parking"></i> <br>
            {% if marketplace.parking == "surface" %}
            <span class="fw-bold">Con estacionamiento</span> <br>
            <i class="fa-solid fa-circle-check text-success"></i> <br>
            {% elif marketplace.parking != "surface" %}
            Sin estacionamiento <br>
            <i class="fa-solid fa-circle-exclamation text-body-secondary"></i> <br>
            {% else %}
            Estacionamiento <br>
            <a role="button" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-circle-question"></i>
            </a>
            {% endif %}
        </div>
        <div class="col-sm-2{% if marketplace.bicycle_parking is None %} text-muted{% endif %}">
            <i class="fa-solid fa-2x fa-bicycle"></i> <br>
            {% if marketplace.bicycle_parking %}
            <span class="fw-bold">Con bicicletario</span> <br>
            <i class="fa-solid fa-circle-check text-success"></i> <br>
            {% elif marketplace.bicycle_parking == False %}
            Sin bicicletario <br>
            <i class="fa-solid fa-circle-exclamation text-body-secondary"></i> <br>
            {% else %}
            Bicicletario <br>
            <a role="button" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-circle-question"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Tamaño -->
<div class="container">
    <div class="row text-center mt-5 d-flex justify-content-center">
        <div class="col-6 small text-uppercase">
            Tamaño de la feria
            {% if marketplace.size == None %}
            <a role="button" class="rojo" data-bs-toggle="tooltip" data-bs-title="No tenemos este dato">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row row-cols-4 text-center my-1 d-flex justify-content-center">
        <div class="col-2 circle-size{% if marketplace.size == 'S' %} size-s{% endif %}">S</div>
        <div class="col-2 circle-size{% if marketplace.size == 'M' %} size-m{% endif %}">M</div>
        <div class="col-2 circle-size{% if marketplace.size == 'L' %} size-l{% endif %}">L</div>
        <div class="col-2 circle-size{% if marketplace.size == 'XL' %} size-xl{% endif %}">XL</div>
    </div>
    <div class="row text-center mb-5 d-flex justify-content-center">
        <div class="col-6 small text-muted fst-italic">
            <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Tamaños de las ferias" data-bs-content="Nuestra clasificación es la siguiente: pequeña (S): menos de 50 tramos, mediana (M): entre 50 y 100 tramos, grande (L): entre 100 y 200 tramos, extra grande (XL): más de 200.">¿Qué es esto?</a>
        </div>
    </div>
</div>

<!-- Ferias cercanas -->
<div class="container my-5">
    <hr>
    <div class="row row-cols-1 row-cols-md-3 d-flex align-items-center">
        <div class="col-md-5">
            <h1 class="title-deferia">Otras ferias cercanas</h1>
            <p>¿Qué tal visitar alguna otra feria? Estas son las más próximas.</p>
        </div>
        <div class="col-md-6">
            <div class="row d-flex p-2 align-items-center">
                {% for marketplace in closest_marketplaces %}
                <div class="col-4">
                    <h6><a class="link-dark" href="/ferias/{{ marketplace.marketplace_url }}">{{ marketplace.name }}</a></h6>
                    <p class="text-muted">a {{ marketplace.distance }} km</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1 text-center">
            <a href="/ferias/buscar" class="link-dark">
                <i class="fa-solid fa-2x fa-magnifying-glass"></i> <br>
                <span class="small">Buscar más</span>
            </a>
        </div>
    </div>
    <hr>
</div>

<!-- Selección de productos
<div class="container">
<p>¡Ayúdenos! ¿Cuáles productos sabe usted que venden en esta feria?</p>
</div>
 -->

<!-- Contacto -->
<div class="container mt-5">
    <div class="card background-verde text-white rounded-5 border-0">
        <div class="container px-4 py-1">
            <div class="row g-4 py-4 row-cols-1 row-cols-sm-4 d-flex align-items-center text-center">
                <div class="feature col">
                    <h1>Contacto</h1>
                </div>
                <div class="feature col">
                    <i class="fa-solid fa-address-card"></i> <br>
                    <span class="text-uppercase small">Administración</span> <br>
                    {% if marketplace.operator %}
                    {{ marketplace.operator }}
                    {% if marketplace.branch %}
                    <br><em>División regional</em>: {{ marketplace.branch }}
                    {% endif %}
                    {% else %}
                    <em>No tenemos este dato</em>
                    {% endif %}
                </div>
                <div class="feature col">
                    <i class="fa-solid fa-phone"></i> <br>
                    <span class="text-uppercase small">Teléfono</span> <br>
                    {% if marketplace.phone %}
                    <a href="tel:506{{ marketplace.phone }}" class="text-white">{{ marketplace.phone }}</a>
                    {% else %}
                    <em>No tenemos este dato</em>
                    {% endif %}
                </div>
                <div class="feature col">
                    <i class="fa-solid fa-at"></i> <br>
                    <span class="text-uppercase small">Correo electrónico</span> <br>
                    {% if marketplace.email %}
                    <a href="mailto:{{ marketplace.email }}" class="text-white">{{ marketplace.email }}</a>
                    {% else %}
                    <em>No tenemos este dato</em>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fotos -->

<!-- Actualizar datos -->
<a href="/sugerencias/ferias/{{ marketplace.marketplace_url }}">
    <div class="crowdsourcing-box link-dark background-amarillo text-center small shadow">Actualizar <br> datos</div>
</a>

<!-- Leaflet Map -->
<script>

    const map = L.map('map').setView([{{ marketplace.location.y | unlocalize }}, { { marketplace.location.x | unlocalize } }], 15);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const popup = L.popup()
        .setLatLng([{{ marketplace.location.y | unlocalize }}, { { marketplace.location.x | unlocalize } }])
        .setContent("Feria de {{ marketplace.name }}")
        .openOn(map);

</script>

{% endblock %}