{% extends 'base.html' %}

{% load static %}

{% block page_title %} Feria de {{ marketplace.name }} {% endblock %}

{% block main %}

{% load l10n %}

<p>
<div class="card" style="width: 200px;">
    <img src="https://placehold.co/600x300/png" alt="Foto de portada" style="width: 200px;">
    <div class="card-body">
        <p class="card-text">Fotos: perfil / portada</p>
    </div>
</div>    
</p>

<h1 class="display-2" style="font-weight: 900;">Feria de {{ marketplace.name }}</h1>

<h3>Nombre alternativo</h3>

<p>{{ marketplace.name_alternate }}</p>

<h3>Descripción</h3>

<p>{{ marketplace.description }}</p>

<p>Fecha de fundación: {{ marketplace.opening_date }}</p>

<h3>Horario</h3>

<p>{{ marketplace.opening_hours }}</p>

<h3>Fotos</h3>

<p>
    {% include 'photos.html' %}
</p>

<h3>Ubicación</h3>

<p>
<div id="map" style="width: 300px; height: 300px;"></div>
</p>

<h3>Dirección</h3>

<p>
    {{ marketplace.province }} |
    {{ marketplace.canton }} |
    {{ marketplace.district }} |
    {{ marketplace.postal_code }} (código postal)
</p>

<p>
    {{ marketplace.address }}
</p>

<p>
    <a target="_blank"
        href="https://ul.waze.com/ul?ll={{ marketplace.location.y|unlocalize }}%2C{{ marketplace.location.x|unlocalize }}&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
        class="btn btn-primary">Waze</a>
    <a target="_blank"
        href="https://www.google.com/maps/dir/?api=1&destination={{ marketplace.location.y|unlocalize }},{{ marketplace.location.x|unlocalize }}"
        class="btn btn-primary">Google Maps</a>
</p>

<h3>Tamaño</h3>

<p>{{ marketplace.size }}</p>

<h3>Otras ferias cercanas</h3>

<ul>
    {% for marketplace in closest_marketplaces %}
    <li><a href="/ferias/{{ marketplace.marketplace_url }}">{{ marketplace.name }}</a></li>
    {% endfor %}
</ul>

<h3>Infraestructura</h3>

{% include 'infrastructure.html' %}

<h3>Servicios</h3>

{% include 'services.html' %}

<h3>Productos</h3>

<p>Lista de productos disponibles en esta feria (todavía no hay datos al respecto, quizá es mejor no ponerlo todavía).
</p>

<h3>Contacto</h3>

<dl>
    <dt>Teléfono</dt>
    <dd>{{ marketplace.phone }}</dd>
    <dt>Correo electrónico</dt>
    <dd><a href="mailto:{{ marketplace.email }}">{{ marketplace.email }}</a></dd>
    <dt>Sitio web</dt>
    <dd><a href="{{ marketplace.website }}" target="_blank">{{ marketplace.website }}</a></dd>
</dl>

<h3>Administración</h3>

<dl>
    <dt>Operador</dt>
    <dd>{{ marketplace.operator }}</dd>
    <dt>División regional</dt>
    <dd>{{ marketplace.branch }}</dd>
</dl>



<!-- Leaflet Map -->
<script>

    const map = L.map('map').setView([{{ marketplace.location.y|unlocalize }}, {{ marketplace.location.x|unlocalize }}], 15);

    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const popup = L.popup()
        .setLatLng([{{ marketplace.location.y|unlocalize }}, {{ marketplace.location.x|unlocalize }}])
    .setContent("Feria de {{ marketplace.name }}")
        .openOn(map);

</script>

{% endblock %}