<ul>
    {% for description, value in services.items %}
    <li>
        {% if value == True %}
        Sí tiene {{ description }}
        {% elif value == False %}
        No tiene {{ description }}
        {% else %}
        No sabemos si tiene {{ description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

<p>Otros servicios: {{ marketplace.other_services }}</p>

<p>Medios de pago: lista de medios de pago disponibles en esta feria (todavía no hay datos al respecto, quizá es mejor no ponerlo todavía).</p>