{% extends 'base.html' %}

{% load static %}

{% block page_title %} Vamos {% endblock %}

{% block main %}

<br>
<h4>de<span style="font-weight: 900;">feria</span>.cr</h4>
<hr>

<!-- Información general -->
<h1 class="display-1" style="font-weight: 900;">de feria</h1>

<p>Página de información de las ferias del agricultor en Costa Rica.</p>

<p>
    <div class="alert alert-info" role="alert">
        Demostración para desarrollo del esqueleto del sitio y su contenido.
    </div>
</p>

<br>
<hr>
<a href="/ferias/">Lista de ferias</a> | <a href="/productos/">Lista de productos</a>
<hr>

<p class="small">2023 &copy; Tropicalización de la tecnología</p>

{% endblock %}
