{% extends 'base.html' %}

{% load static %}

{% block page_title %} Vamos {% endblock %}

{% block main %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>

<style>
    #suggestedPlaces li {
      cursor: pointer;
      margin: 5px;
      padding: 7px;
    }

    #suggestedPlaces li:hover {
      background-color: #c7c6c6;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .card-link {
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-link:hover {
      text-decoration: none;
      color: inherit;
      /* Movimiento para hacer notable al tener el mouse encima */
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

</style>

<!-- Información general -->
<h1 class="display-1">¡Vamos de feria!</h1>

<p>Página de información de las ferias del agricultor en Costa Rica.</p>

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Sitio en desarrollo</h4>
    <p>Esta es una demostración para pruebas de la página que estamos creando. Pronto tendremos más información aquí y
        en redes sociales.</p>
    <hr>
    <p class="mb-0">Lanzamiento oficial esperado: 31 de julio de 2023.</p>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title mb-3">¿Dónde está la feria?</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="card-header">
                    Por ubicación
                    <input type="text" name="latitudeValue" id="lat" value=id readonly hidden>
                    <input type="text" name="longitudeValue" id="lon" value=id readonly hidden>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="location" id="my-location" onclick="getLocation()" value="my_location">
                        </div>
                        <span class="input-group-text">Cerca de mí</span>
                    </div>
                    
                    <br>
                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="location" id="some-location" value="some_location">
                        </div>
                        <span class="input-group-text">Cerca de:</span>
                        <input type="text" class="form-control" id="locationInput" placeholder="Ingrese el nombre de un lugar" oninput="getAutocompleteSuggestions()">
                        <input type="text" id="latitude" name="latitudeValueBusqueda" readonly hidden>
                        <input type="text" id="longitude" name="longitudeValueBusqueda" readonly hidden>
                    </div>
                    <ul id="suggestedPlaces"></ul>
                    <br>
                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="radio" name="location" id="any-location" value="any_location" checked>
                        </div>
                        <span class="input-group-text">En cualquier lugar</span>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Por día de la semana
                </div>
                <div class="card-body">
                    <input type="radio" class="btn-check" id="monday" name="day" value="Mo">
                    <label class="btn btn-outline-primary" for="monday">Lunes</label>
                    <input type="radio" class="btn-check" id="tuesday" name="day" value="Tu">
                    <label class="btn btn-outline-primary" for="tuesday">Martes</label>
                    <input type="radio" class="btn-check" id="wednesday" name="day" value="We">
                    <label class="btn btn-outline-primary" for="wednesday">Miércoles</label>
                    <input type="radio" class="btn-check" id="thursday" name="day" value="Th">
                    <label class="btn btn-outline-primary" for="thursday">Jueves</label>
                    <input type="radio" class="btn-check" id="friday" name="day" value="Fr">
                    <label class="btn btn-outline-primary" for="friday">Viernes</label>
                    <input type="radio" class="btn-check" id="saturday" name="day" value="Sa">
                    <label class="btn btn-outline-primary" for="saturday">Sábado</label>
                    <input type="radio" class="btn-check" id="sunday" name="day" value="Su">
                    <label class="btn btn-outline-primary" for="sunday">Domingo</label>
                    <input type="radio" class="btn-check" id="any" name="day" value="NA" checked>
                    <label class="btn btn-outline-secondary" for="any">Cualquiera</label>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    Amenidades (opcional)
                </div>
                <div class="card-body">
                    {% for key, value in amenities.items %}
                    <p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ key }}" id="{{ key }}_true" value="True">
                        <label class="form-check-label" for="{{ key }}_true">
                            Con {{ value }}
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="{{ key }}" id="{{ key }}_false" value="False">
                        <label class="form-check-label" for="{{ key }}_false">
                            Sin {{ value }}
                        </label>
                    </div>
                    </p>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>

<div class="text-center container">
    <div class="mt-4 p-3">
        <h2 style="font-weight: 600; font-size: 30px;" class="lead"><span id="status"></span></h2>
    </div>
</div>

<!-- Display results -->
{% if marketplaces %}
<div class="text-center container">
    <div class="mt-2 p-3">
        <h2 style="font-weight: 800; font-size: 45px;">Resultados</h2> 
        <p style="font-weight: 600; font-size: 45px;">{{ marketplaces|length }}</p>
        <ul>
            {% for marketplace in marketplaces|slice:":5" %}
            <div class="card bg-light mb-3" style="max-width: 60rem; cursor: pointer;">
                <a href="/ferias/{{ marketplace.marketplace_url }}" class="card-link">
                    <div class="card-header">Feria del agricultor</div>
                        <div class="card-body">
                        <h5 class="card-title">{{ marketplace.name }}</h5>
                    </div>
                </a>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<br>
<p class="small">2023 &copy; Tropicalización de la tecnología</p>


<!-- Actualización del texto -->
<script>
    $(document).ready(function () {
        $('input[name="fairground"], input[name="indoor"], input[name="location"], input[name="day"]').change(function () {
            var fairgroundValue = $('input[name="fairground"]:checked').val();
            var indoorValue = $('input[name="indoor"]:checked').val();
            var locationValue = $('input[name="location"]:checked').val();
            var dayValue = $('input[name="day"]:checked').val();

            var statusText = "";
            if (locationValue === "my_location") {
                statusText += "Quiero una feria que esté cerca de mí";
            } else if (locationValue === "some_location") {
                const placeNameText = document.getElementById("locationInput").value;
                statusText += "Quiero una feria que esté cerca de " + placeNameText;
            } else if (locationValue === "any_location") {
                statusText += "Quiero una feria que esté en cualquier lugar";
            }

            if (dayValue === "Mo") {
                statusText += ", que abra los lunes";
            } else if (dayValue === "Tu") {
                statusText += ", que abra los martes";
            } else if (dayValue === "We") {
                statusText += ", que abra los miércoles";
            } else if (dayValue === "Th") {
                statusText += ", que abra los jueves";
            } else if (dayValue === "Fr") {
                statusText += ", que abra los viernes";
            } else if (dayValue === "Sa") {
                statusText += ", que abra los sábados";
            } else if (dayValue === "Su") {
                statusText += ", que abra los domingos";
            } else if (dayValue === "NA") {
                statusText += ", que abra cualquier día";
            }

            if (fairgroundValue === "True") {
                statusText += ", con campo ferial";
            } else if (fairgroundValue === "False") {
                statusText += ", sin campo ferial";
            }

            if (indoorValue === "True") {
                statusText += ", bajo techo";
            } else if (indoorValue === "False") {
                statusText += ", al aire libre";
            }

            $("#status").text(statusText);
        });
    });    

    var x = document.getElementById("latitud");
    var y = document.getElementById("longitud");
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
        navigator.geolocation.getCurrentPosition(showPosition);
        navigator.geolocation.watchPosition(passLon);
        navigator.geolocation.watchPosition(passLat);
      } else { 
        alert("El buscador no es compatible con esa funcionalidad");
      }
    }
        
    function showPosition(position) {
        x.innerHTML="Latitude: " + position.coords.latitude;
        y.innerHTML="Longitude: " + position.coords.longitude;
    }

    function passLon(position) {
        var valueLon = position.coords.longitude;
        document.getElementById("lon").value = valueLon;
    }

    function passLat(position) {
        var valueLat = position.coords.latitude;
        document.getElementById("lat").value = valueLat;
    }

    function getAutocompleteSuggestions() {
      const input = document.getElementById("locationInput").value;
      const service = new google.maps.places.AutocompleteService();
      const options = { types: ["geocode"] };
      service.getPlacePredictions({ input, options }, displaySuggestions);
    }

    function displaySuggestions(predictions, status) {
      if (status !== google.maps.places.PlacesServiceStatus.OK) {
        console.error("Error en mostrar sugerencias de lugares: ", status);
        return;
      }

      const suggestedPlacesList = document.getElementById("suggestedPlaces");
      suggestedPlacesList.innerHTML = "";

      predictions.forEach(prediction => {
        const placeName = prediction.description;
        const listItem = document.createElement("li");
        listItem.textContent = placeName;
        listItem.addEventListener("click", function () {
          document.getElementById("locationInput").value = placeName;
          suggestedPlacesList.innerHTML = "";
          geocodeSelectedPlace(placeName);
        });

        suggestedPlacesList.appendChild(listItem);
      });
    }

    function geocodeSelectedPlace(placeName) {

      const geocoder = new google.maps.Geocoder();
      geocoder.geocode({ address: placeName }, function (results, status) {
        if (status === "OK") {
          const latitude = results[0].geometry.location.lat();
          const longitude = results[0].geometry.location.lng();

          document.getElementById("latitude").value = latitude;
          document.getElementById("longitude").value = longitude;
        } else {
          console.error("Error al conectarse con el API de Google: " + status);
        }
      });
    }

</script>

<!-- Google Maps API and Keys -->
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>

{% endblock %}