{% load static %}

<!-- Buscador -->
<div class="container px-4 pt-4">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-5 title-deferia rojo">¿Dónde está mi feria?</h1>
            <p class="lead">Aquí le ayudamos a buscar su feria entre las más de 80 que hay en el país.</p>
        </div>
    </div>
</div>
<div class="container px-4 bt-3 pb-5" id="search">
    <form method="POST">
        {% csrf_token %}
        <!-- Criterios de búsqueda -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 py-4">
            <!-- Por ubicación -->
            <div class="col d-flex align-items-start">
                <span class="bi rojo flex-shrink-0 me-3">
                    <i class="fa-solid fa-2x fa-location-dot"></i>
                </span>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Por ubicación</h3>
                    <p>Hay ferias en las siete provincias, ¿dónde quiere buscar su feria?</p>
                    <p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="any-location" name="location" value="any_location" checked>
                        <label class="form-check-label" for="any-location">
                            En cualquier lugar
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="my-location" name="location" value="my_location" onclick="getLocation()">
                        <input type="text" name="my_latitude" id="my-latitude" readonly hidden>
                        <input type="text" name="my_longitude" id="my-longitude" readonly hidden>
                        <label class="form-check-label" for="my-location">
                            Cerca de mí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="some-location" name="location" value="some_location">
                        <input type="text" id="some-latitude" name="some_latitude" readonly hidden>
                        <input type="text" id="some-longitude" name="some_longitude" readonly hidden>
                        <label class="form-check-label" for="some-location">
                            Cerca de
                        </label>
                        <input class="underline-input" type="text" placeholder="algún lugar" id="some-place" oninput="getAutocompleteSuggestions()" disabled>
                        <ul id="suggested-places"></ul>
                    </div>
                    </p>
                </div>
            </div>
            <!-- Por día de la semana -->
            <div class="col d-flex align-items-start">
                <span class="bi amarillo flex-shrink-0 me-3">
                    <i class="fa-regular fa-2x fa-calendar-days"></i>
                </span>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Por día de la semana</h3>
                    <p>Las ferias abren uno o varios días a la semana, ¿qué día está buscando?</p>
                    <p>
                        <select class="underline-input" aria-label="Día de la semana" id="day" name="day">
                            <option value="any_day" selected>Cualquier día</option>
                            <option value="Mo">Lunes</option>
                            <option value="Tu">Martes</option>
                            <option value="We">Miércoles</option>
                            <option value="Th">Jueves</option>
                            <option value="Fr">Viernes</option>
                            <option value="Sa">Sábado</option>
                            <option value="Su">Domingo</option>
                        </select>
                    </p>
                </div>
            </div>
            <!-- Por tamaño -->
            <div class="col d-flex align-items-start">
                <span class="bi verde flex-shrink-0 me-3">
                    <i class="fa-solid fa-2x fa-shapes"></i>
                </span>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Por tamaño</h3>
                    <p>Las ferias tienen desde 20 hasta 400 tramos de ventas, ¿cuál es su preferencia?</p>
                    <p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="size" value="any_size" id="any-size" checked>
                        <label class="form-check-label" for="any-size">
                            Cualquier tamaño
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="size" value="some_size" id="some-size">
                        <label class="form-check-label" for="some-size">
                            Por tamaño
                        </label>
                        <br>
                        <small>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="size-s" value="size_s" disabled>
                                <label class="form-check-label" for="size-s">S</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="size-m" value="size_m" disabled>
                                <label class="form-check-label" for="size-m">M</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="size-l" value="size_l" disabled>
                                <label class="form-check-label" for="size-l">L</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="size-xl" value="size_xl" disabled>
                                <label class="form-check-label" for="size-xl">XL</label>
                            </div>
                        </small>
                    </div>

                    </p>
                </div>
            </div>
            <!-- Por infraestructura -->
            <div class="col d-flex align-items-start">
                <span class="bi azul flex-shrink-0 me-3">
                    <i class="fa-solid fa-2x fa-store"></i>
                </span>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Por infraestructura</h3>
                    <p>Cada feria tiene sus facilidades, ¿cuáles prefiere usted?</p>
                    <p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="fairground" name="fairground" value="True">
                        <label class="form-check-label" for="fairground">Campo ferial</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="indoor" name="indoor" value="True">
                        <label class="form-check-label" for="indoor">Bajo techo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="parking" name="parking" value="surface">
                        <label class="form-check-label" for="parking">Estacionamiento</label>
                    </div>
                    </p>
                </div>
            </div>
            <!-- Por amenidades -->
            <div class="col d-flex align-items-start">
                <span class="bi rosado flex-shrink-0 me-3">
                    <i class="fa-solid fa-2x fa-glass-water"></i>
                </span>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Por amenidades</h3>
                    <p>No solo frutas y verduras hay en la feria, ¡hay mucho más!</p>
                    <p>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="food" name="food" value="True">
                                <label class="form-check-label" for="food">Comidas</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="drinks" name="drinks" value="True">
                                <label class="form-check-label" for="drinks">Bebidas</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="handicrafts" name="handicrafts" value="True">
                                <label class="form-check-label" for="handicrafts">Artesanías</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="butcher" name="butcher" value="True">
                                <label class="form-check-label" for="butcher">Carnicería</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="dairy" name="dairy" value="True">
                                <label class="form-check-label" for="dairy">Lácteos</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="seafood" name="seafood" value="True">
                                <label class="form-check-label" for="seafood">Pescadería</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="garden-centre" name="garden_centre" value="True">
                                <label class="form-check-label" for="garden-centre">Plantas</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="florist" name="florist" value="True">
                                <label class="form-check-label" for="florist">Flores</label>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>
            <!-- Por palabra clave -->
            <div class="col d-flex align-items-start">
                <span class="bi cafe flex-shrink-0 me-3">
                    <i class="fa-solid fa-2x fa-circle-question"></i>
                </span>
                <div>
                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Por palabra clave</h3>
                    <p>¿Busca alguna palabra clave en el nombre o la descripción de la feria?</p>
                    <p>
                        <input type="text" class="underline-input" id="keyword" name="keyword" placeholder="Palabra clave">
                    </p>
                </div>
            </div>
        </div>
        <!-- Frase y botón de búsqueda -->
        <div class="card mt-2 my-3 mx-auto border-0 rounded-5 background-rosado" style="max-width: 576px;">
            <div class="card-body text-white">
                <p class="lead">
                    Quiero una feria <span id="status"></span>
                </p>            
                <input type="text" id="query-text" name="query_text" readonly hidden>
                <hr>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger btn-lg px-4 gap-3">Buscar</button>
                </div>
            </div>
            <img src="{% static 'images/stickers/fresa.png' %}" width="65px" class="floating-strawberry">
        </div>
    </form>
</div>

<!-- Mostrar resultados -->
{% if show_results %}
<div class="container">
    <div class="mt-2 p-3">
        <div class="text-center">
            <p><i class="fa-solid fa-3x fa-magnifying-glass"></i></p>
            <p class="lead">Resultados para la búsqueda de una feria {{ query_text }}</p> 
        </div>
        <!-- Resultados exactos -->
        {% if marketplaces_match|length == 0 %}
        <p class="lead"><i class="fa-solid fa-triangle-exclamation"></i> No hay resultados exactos de la búsqueda. Por favor intente de nuevo con otros criterios.</p>
        {% else %}
        <h5>Resultados exactos: {{ marketplaces_match|length }}</h5>
        <ul>
            {% for marketplace in marketplaces_match %}
            <li>
                <a href="/ferias/{{ marketplace.marketplace_url }}">
                    {{ marketplace.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Resultados similares -->
        {% if marketplaces_others|length > 0 %}
        <h5>Resultados similares: {{ marketplaces_others|length }}</h5>
        <p>Otras ferias que cumplen el mismo criterio de búsqueda de ubicación y día de la semana pero no cumplen con los otros criterios de tamaño, infraestructura o amenidades.</p>
        <ul>
            {% for marketplace in marketplaces_others %}
            <li>
                <a href="/ferias/{{ marketplace.marketplace_url }}">
                    {{ marketplace.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Resultados por palabra clave -->
        {% if marketplaces_keyword %}
        <h5>Resultados por palabra clave: {{ marketplaces_keyword|length }}</h5>
        <p>Otras ferias que cumplen el mismo criterio de búsqueda de ubicación y día de la semana y además tienen algo similar a la palabra clave "{{ keyword }}" en el nombre o la descripción.</p>
        <ul>
            {% for marketplace in marketplaces_keyword %}
            <li>
                <a href="/ferias/{{ marketplace.marketplace_url }}">
                    {{ marketplace.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endif %}
