{% extends 'base.html' %}

{% load static %}

{% block page_title %} Nuestro proyecto {% endblock %}

{% block bg-navbar %} background-verde {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-verde">
    <div class="card col-lg-6 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 text-white title-deferia">
            ¡Creemos que la feria es buena para la economía, para la salud y para la comunidad!
        </h1>
        <img src="{% static 'images/icons/banano.svg' %}" width="75px" class="index-sticker-1">
        <img src="{% static 'images/icons/anona.svg' %}" width="75px" class="index-sticker-2">
        <img src="{% static 'images/icons/berenjena.svg' %}" width="75px" class="index-sticker-3">
    </div>
</div>

<!-- Ubicación de las ferias -->
<div class="container mt-4">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6">
            <p class="lead">Este es un proyecto del trabajo comunal universitario TC-691 "Tropicalización de la tecnología" de la Universidad de Costa Rica.</p>

            <p>#SomosAcciónSocial #SomosUCR</p>
            
            <h1 class="display-deferia rojo">Sobre TC-691 "Tropicalización de la tecnología"</h1>
            <p>"Tropicalizar" la tecnología es un proceso de transferencia de conocimientos técnicos para abordar problemáticas propias de nuestras comunidades. Con este propósito nació el trabajo comunal universitario en la Escuela de Ingeniería Eléctrica</p>

            <h1 class="display-deferia rojo">Sobre el proyecto</h1>
            <p>Nuestro TCU realiza trabajos con la comunidad para utilizar tecnologías de información al servicio de necesidades como el acceso al transporte público, para lo cual anteriormente habíamos desarrollado un sitio web. Con base en esa experiencia, identificamos una nueva necesidad de disponibilidad de información: ¿dónde y cuándo está la feria?</p>
            
            <h1 class="display-deferia rojo">Quiénes somos</h1>
            <p>El proyecto De Feria es coordinado por el profesor Fabián Abarca Calderón de la Escuela de Ingeniería Eléctrica de la Universidad de Costa Rica.</p>

            <ul>
                {% for student in students %}
                <li><strong>{{ student.name }} {{ student.last_name }}</strong>, <em>{{ student.career }}</em></li>
                {% endfor %}
            </ul>
            
            <h1 class="display-deferia rojo">Agradecimientos institucionales</h1>
            <p>Agradecemos a las siguientes personas que nos ayudaron.</p>
            
            <h1 class="display-deferia rojo">Agradecimientos especiales</h1>
            <p>Los "amigos y amigas del TCU" (<strong>amits</strong>) nos ayudan de</p>
        </div>
    </div>
</div>

{% endblock %}
