{% extends 'base.html' %}

{% load static %}

{% block page_title %} Nuestro proyecto {% endblock %}

{% block bg-navbar %} background-verde {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-verde">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-1 mt-5 text-white hero-deferia">{{ texts.hero.content }}</h1>
        <div class="card col-lg-6 mx-auto bg-transparent border-0 mt-5">
            <h2 class="text-center title-deferia text-white">{{ texts.hero_desc.content }}</h2>
        </div>
    </div>
</div>

<!-- Presentación -->
<div class="container mt-5">
    <!--
    <h3 class="title-deferia verde">
        Este es un proyecto del trabajo comunal universitario TC&#8209;691 <em>Tropicalización de la tecnología</em> de la Escuela de Ingeniería Eléctrica de la Universidad de Costa Rica
        <br>
        <img src="{% static 'images/logos/ucr_logo.png' %}" height="40px" alt="">
        <img src="{% static 'images/logos/tcu_logo.png' %}" height="40px" alt="" class="mx-3 my-5">
        <img src="{% static 'images/logos/eie_logo.png' %}" height="40px" alt="">
    </h3>
    

    <p class="lead text-center">Contacto: <a href="mailto:tropicalizacion@ucr.ac.cr" target="_blank">tropicalizacion@ucr.ac.cr</a></p>
    -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Un proyecto de</h5>
                    <div class="text-center my-4">
                        <img src="{% static 'logos/tropicalizacion_logo.png' %}" height="50px" alt="">
                    </div>
                    <p class="card-text">Proyecto TC-691 de la Vicerrectoría de Acción Social de la UCR</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">En alianza con</h5>
                    <div class="text-center my-4">
                        <img src="{% static 'logos/fao_logo.svg' %}" height="50px" alt="">
                    </div>
                    <p class="card-text">Oficinas de las representaciones nacionales de FAO en Costa Rica y Chile</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Con el apoyo y asesoría de</h5>
                    <div class="text-center my-4">
                        <img src="{% static 'logos/enu_logo.png' %}" height="80px" alt="Escuela de Nutrición">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Con la colaboración de</h5>
                    <div class="text-center my-4">
                        <img src="{% static 'logos/eie_logo.png' %}" height="80px" alt="Escuela de Ingeniería Eléctrica">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Con el apoyo técnico de</h5>
                    <div class="text-center my-4">
                        <img src="{% static 'logos/cisan_logo.png' %}" height="80px" alt="Comisión Institucional de Seguridad Alimentaria y Nutricional">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title">Con el auspicio de</h5>
                    <div class="text-center my-4">
                        <img src="{% static 'logos/vas_logo.png' %}" height="80px" alt="Vicerrectoría de Acción Social">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h4>Dirección del proyecto</h4>
    <p class="lead">
        <span class="fw-bold">Fabián Abarca Calderón</span> <br>
        <em>Escuela de Ingeniería Eléctrica</em> <br>
        <em>Universidad de Costa Rica</em> <br>
        <span class="small"><a href="mailto:fabian.abarca@ucr.ac.cr" target="_blank">fabian.abarca@ucr.ac.cr</a></span>
    </p>

    <h4><i class="fa-solid fa-star text-warning"></i> Estudiantes de TCU</h4>

    <dl>
        {% for student in students %}
        <dt><strong>{{ student.name }} {{ student.last_name }}</strong> <br> <em>{{ student.career }}</em></dt>
        <dd>{{ student.work }}</dd>
        {% endfor %}
    </dl>

    <h4>Por la Escuela de Ingeniería Eléctrica</h4>

    <ul>
        <li><strong>José David Rojas</strong>, director Escuela de Ingeniería Eléctrica</li>
        <li><strong>Helber Meneses</strong>, coordinador TC-691 "Tropicalización de la tecnología"</li>
    </ul>


    <h4>Por FAO Costa Rica</h4>

    <ul>
        <li><strong>João Intini</strong>, oficial de políticas y sistemas alimentarios de la FAO para América Latina y el Caribe</li>
        <li><strong>Andrea Padilla</strong>, representante asistente de programas</li>
        <li><strong>Rebeca León</strong>, especialista en comunicación</li>
        <li><strong>Valeria Navas</strong>, asistente de comunicación</li>
        <li><strong>Gloriana Álvarez</strong>, asistente administrativa y recursos humanos</li>
        <li><strong>Fiorella Piedra</strong>, especialista en guías alimentarias</li>
    </ul>

    <h4>Por la Escuela de Nutrición</h4>

    <ul>
        <li><strong>Marianela Zúñiga</strong>, coordinadora Comisión Institucional de Seguridad Alimentaria y Nutricional (CISAN)</li>
        <li><strong>Kattia Jiménez</strong>, profesora</li>
        <li><strong>Laura Andrade</strong>, coordinadora Programas de Educación Continua</li>
        <li><strong>Marcela Dumani</strong>, profesora</li>
        <li><strong>Melissa Jensen</strong>, profesora</li>
    </ul>


    <h4>Amigas y amigos del TCU</h4>

    <p>¡Gracias a las siguientes personas que nos ayudaron a financiar el sitio web al principio!</p>

    <ul>
        <li>Tamires Santana y Gustavo Núñez</li>
        <li>Chloe Lohmeyer y Cris Montoya</li>
        <li>Sofía Abarca y Pablo Berthely</li>
    </ul>

    <p>También a doña Vera Sánchez Garita, por las productivas conversaciones iniciales sobre los centros de origen y la estacionalidad de los productos.</p>

    <h4>Desarrollo del sitio web</h4>

    <p>
        Este es un proyecto de código abierto con licencia MIT, disponible en GitHub.
    </p>
    <p class="lead">
        <i class="fa-brands fa-github"></i>
        <a href="https://github.com/fabianabarca/ferias" target="_blank" class="text-decoration-none">https://github.com/fabianabarca/ferias</a>
    </p>
    <p>
        El proyecto utiliza Django, una plataforma de desarrollo web en Python, y Bootstrap, una librería de diseño web.
    </p>
</div>

{% endblock %}