{% extends 'base.html' %}

{% load static %}

{% block page_title %} {{ title }} {% endblock %}

{% block bg-navbar %} background-amarillo {% endblock %}

{% block main %}

<div class="container my-5">
    <h1 class="mb-4">{{ title }}</h1>

    <form
        action="{% if recipe.slug %}{% url 'edit_recipe' recipe.slug %}{% else %}{% url 'create_recipe' %}{% endif %}"
        method="post"
        enctype="multipart/form-data"
        class="card p-4"
    > <!-- Si la receta tiene un slug, significa que la mandaron por context y debe usarse el form editar. Si no, es el form de crear receta. -->
        {% csrf_token %}

        <div class="row mt-2">
            <div class="col-8">
                <div class="form-group mb-3">
                    <label>Nombre de la receta</label>
                    {{ recipe_form.name }}
                    {% if recipe_form.name.errors %}
                        <div class="alert alert-danger">
                            {% for error in recipe_form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    <label>Descripción</label>
                    {{ recipe_form.description }}
                    {% if recipe_form.description.errors %}
                        <div class="alert alert-danger">
                            {% for error in recipe_form.description.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="form-group mb-3">
                    <label>Categoría</label>
                    {{ recipe_form.category }}
                    {% if recipe_form.category.errors %}
                        <div class="alert alert-danger">
                            {% for error in recipe_form.category.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    <label>Etiquetas</label>
                    <div id="tag-container" class="container rounded p-3 bg-light">
                        {% for tag in recipe_form.tags %}
                            <div class="form-check form-check-inline">
                                {{ tag.tag }}
                                <label class="form-check-label badge rounded-pill background-verde" for="{{ tag.id_for_label }}">{{ tag.choice_label }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-2 p-2">
            <div class="col-8 p-4 bg-light rounded">
                <h3>Ingredientes</h3>
                <div id="ingredients-container">
                    {{ ingredient_formset.management_form }}
                    {% for form in ingredient_formset %}
                        <div class="ingredient-row mb-3">
                            <label>Ingrediente</label>
                            {{ form.ingredient }}
                            {% if form.ingredient.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.ingredient.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label>Unidad</label>
                                {{ form.unit }}
                                {% if form.unit.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.unit.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col">
                                <label>Cantidad</label>
                                {{ form.quantity }}
                                {% if form.quantity.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.quantity.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                            <button type="button" class="btn btn-primary" id="add-ingredient"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col bg-light rounded">

            </div>
        </div>

        

        <div class="row my-2 p-2">
            <div class="col-8 p-4 bg-light rounded">
                <h3>Pasos</h3>
                <div id="steps-container">
                    {{ step_formset.management_form }}
                    {% for form in step_formset %}
                        <div class="row mb-3">
                            <div class="col">
                                <label>Número de la secuencia</label>
                                {{ form.step_sequence }}
                                {% if form.step_sequence.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.step_sequence.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-8">
                                <label>Título</label>
                                {{ form.title }}
                                {% if form.title.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.title.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label>Imagen</label>
                                {{ form.photo }}
                                {% if form.photo.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.photo.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-8">
                                <label>Descripción</label>
                                {{ form.description }}
                                {% if form.description.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.description.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                            <button type="button" class="btn btn-primary" id="add-step"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col bg-light rounded">

            </div>
        </div>
        
        <!-- TODO: Que se le pueda agregar una imagen a una receta. -->

        <!-- TODO: Aquí la idea es que también se puedan agregar ingredientes que no estén ya en la lista de ingredientes que se despliega.
            Para eso se debería poder crear un nuevo ingrediente en el form. 
        -->

        <!-- TODO: Que el usuario pueda ver los pasos recientemente agregados. -->
        
        

        <button type="submit" class="btn btn-success mt-3">Guardar receta</button>
    </form>
</div>

{% endblock %}