{% extends 'base.html' %}

{% load static %}

{% load time_filters %}

{% block page_title %} Una buena receta {% endblock %}

{% block bg-navbar %} background-amarillo {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-amarillo">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 text-white hero-deferia">{{texts.hero.content}}</h1>
        <h3 class="title-deferia text-white">¡Explorá nuestras recetas tradicionales,<br>desde el arroz con pollo hasta
            el gallo pinto!</h3>
        <img src="{% static 'images/stickers/ajo.svg' %}" width="75px" class="index-sticker-1">
        <img src="{% static 'images/stickers/acelga.svg' %}" width="75px" class="index-sticker-2">
        <img src="{% static 'images/stickers/naranja.svg' %}" width="75px" class="index-sticker-3">
    </div>
</div>

<!-- Una receta -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
            <div class="align-content-start h-100">
                {% if recipe.image %}
                <img src="{{ recipe.image.url }}" class="img-fluid rounded" alt="{{ recipe.name }}">
                {% else %}
                <img src="{% static 'recipes/default_recipe_image.jpg' %}" class="img-fluid rounded"
                    alt="{{ recipe.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column h-100">
                <div class="mb-3">
                    <div class="d-flex justify-content-between">
                        <h1 class="mb-2">{{ recipe.name|capfirst }}</h1>
                        
                        <div class="d-flex justify-content-end pt-2">
                            <a href="{% url 'edit_recipe' recipe.slug %}" class="link-warning text-black me-1"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="link-danger text-black ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal{{ recipe.slug }}"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-wrap gap-2">
                        {% for tag in recipe.tags.all %}
                        <span class="badge rounded-pill background-verde">{{ tag.tag_name }}</span>
                        {% endfor %}
                    </div>
                </div>
                <p class="mb-4">{{ recipe.description }}</p>

                <div class="d-flex justify-content-between">
                    <div class="bg-white rounded p-2 border me-1 mb-2 w-100">
                        <p class="m-1"><i class="fa-solid fa-bowl-food"></i></p>
                        <p class="m-1"><strong>Porciones:</strong> {{ recipe.recipe_yield }}</p>
                    </div>
                    <div class="bg-white rounded p-2 border ms-1 mb-2 w-100">
                        <p class="m-1"><i class="fa-solid fa-stroopwafel"></i></p>
                        <p class="m-1"><strong>Tipo de cocina:</strong> {{ recipe.recipe_cuisine }}</p>
                    </div>
                </div>
                <div class="bg-white rounded p-2 border">
                    <p class="m-1"><i class="fa-solid fa-clock"></i></p>
                    <p class="m-1"><strong>Preparación:</strong> {{ recipe.prep_time|format_timedelta }}</p>
                    <p class="m-1"><strong>Cocción:</strong> {{ recipe.cook_time|format_timedelta }}</p>
                    <p class="m-1"><strong>Total:</strong> {{ recipe.total_time|format_timedelta }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="mt-auto">
                <h2 class="mb-3">Ingredientes</h2>
                <ul class="list-group">
                    {% for recipe_ingredient in recipe.recipeingredient_set.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.get_unit_name }} de 
                            {{ recipe_ingredient.ingredient.ingredient_name }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="mt-auto">
                <h2 class="mb-3">Pasos</h2>
                <ol class="list-group">
                    {% for step in recipe.step_set.all %}
                    <li class="list-group-item">
                        {% if step.title %}
                        <h5>{{ step.title }}</h5>
                        {% endif %}
                        {{ step.description }}
                        {% if step.photo %}
                        <img src="{{ step.photo.url }}" class="img-fluid mt-2 rounded" alt="{{ step.title }}">
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal{{ recipe.slug }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ recipe.slug }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ recipe.slug }}">Eliminar receta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar "{{ recipe.name }}"?
            </div>
            <div class="modal-footer">
                <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-danger">Aceptar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}