{% extends 'base.html' %}

{% load static %}

{% block page_title %} Todas las recetas {% endblock %}

{% block bg-navbar %} background-amarillo {% endblock %}

{% block main %}

<!-- Hero -->
<div class="px-4 pt-3 pb-5 text-center background-amarillo">
    <div class="card col-lg-8 mx-auto bg-transparent border-0">
        <h1 class="display-3 my-5 text-white hero-deferia">{{texts.hero.content}}</h1>
        <h3 class="title-deferia text-white">¡Explorá nuestras recetas tradicionales,<br>desde el arroz con pollo hasta
            el gallo pinto!</h3>
        <img src="{% static 'images/stickers/ajo.svg' %}" width="75px" class="index-sticker-1">
        <img src="{% static 'images/stickers/acelga.svg' %}" width="75px" class="index-sticker-2">
        <img src="{% static 'images/stickers/naranja.svg' %}" width="75px" class="index-sticker-3">
    </div>
</div>

<!-- Lista de las recetas -->
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Todas las recetas</h1>
        <a href="{% url 'create_recipe' %}" class="btn background-rojo text-white">Crear receta</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <div class="d-flex flex-wrap gap-2">
                        {% for tag in recipe.tags.all %}
                        <span class="badge background-verde">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-body">
                    {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.name }}">
                    {% else %}
                    <img src="{% static 'recipes/default_recipe_image.jpg' %}" class="card-img-top" alt="{{ recipe.name }}">
                    {% endif %}
                    <h5 class="card-title mt-3">{{ recipe.name|capfirst }}</h5>
                    <p class="card-text">{{ recipe.description|truncatewords:15 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'recipe' recipe.slug %}" class="btn background-rojo text-white">Ver receta</a>
                        <a href="{% url 'edit_recipe' recipe.slug %}" class="btn background-amarillo text-white">Editar receta</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}